<div class=note>
<h1>{{temaNote.title}}</h1>
<app-bar-series-select label="" (selectionChange)="dataSelectionChanged($event)" />

<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configuration" />

  @if (!initialized || this.csvc.enableChartEditing()) {
    <mat-expansion-panel expanded="false" style="margin-bottom: 1em;">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon fontSet="material-symbols-outlined">tune</mat-icon></mat-panel-title>
      </mat-expansion-panel-header>
      <mb-swatches-select style="vertical-align: bottom;" [selected]="selectedIndex" [colors]="palettes"
        (selectionChange)="indicatorPaletteChanged($event);" [label]="'Palette'">
      </mb-swatches-select>
      <app-tema-list [initialLength]="initialIndicators" [colors]="selectedPalette"
        (changed)="indicatorsChanged($event);">
      </app-tema-list>
    </mat-expansion-panel>
  }

  <figcaption>{{dataSelection.description}}. @if (dataSelection.url) {
    <span><a href="{{dataSelection.url}}" target="_blank">{{dataSelection.urlName}}</a></span>
  }</figcaption>
</figure>

<div style="width:100%">
  The Triple Exponential Moving Average (TEMA) was introduced by Patrick G. Mulloy in
  the Technical Analysis of Stocks &amp; Commodities (Mulloy 1994 12(1), Mulloy 1994 12(2))
  as an extension of the double-smoothing tecnique described in
  <a href="/{{demaNote.route}}">Double Exponential Moving Average</a> (DEMA) to make
  the TEMA "faster" (more sensitive to changes in the input data) than the DEMA and to have
  a reduced lag.
  <p></p>
  In Mulloy 1994 12(2), the formula for TEMA is defined without any derivation as
  <mb-kd>
    {{"\\tag*{(1)}tema(x)=3E(x)-3E(E(x))+E(E(E(x)))"}}
  </mb-kd>
  <p></p>
  The calculation of TEMA goes as follows.
  <mb-kd>
    {{"\\tag*{(2)}\\begin{array}{lcl}ema1_{k}&=&\\alpha x_{k}+(1-\\alpha)ema1_{k-1}\\\\ &=&ema_{k-1}+\\alpha(x_{k}-ema1_{k-1})\\end{array}"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{(3)}\\begin{array}{lcl}ema2_{k}&=&ema(ema1_{k})\\\\ &=&\\alpha ema1_{k}+(1-\\alpha)ema2_{k-1}\\\\ &=&ema2_{k-1}+\\alpha(ema1_{k}-ema2_{k-1})\\end{array}"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{(4)}\\begin{array}{lcl}ema3_{k}&=&ema(ema2_{k})\\\\ &=&\\alpha ema2_{k}+(1-\\alpha)ema3_{k-1}\\\\ &=&ema3_{k-1}+\\alpha(ema2_{k}-ema3_{k-1})\\end{array}"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{(5)}tema_{k}=3(ema1_{k}-ema2_{k})+ema3_{k}"}}
  </mb-kd>
  Here the first EMA smoothes the price, the second EMA smoothes the first EMA 
  and the third EMA smoothes the second EMA.
  The equation (5) follows from the equation (1).
  <p></p>
  As in DEMA, the initial EMA values may be calculated in two different ways.
  The first approach is to use the <a href="/{{smaNote.route}}">Simple Moving Average</a>
  over the first
  <mb-kd>
    {{"\\tag*{(6)}L=\\frac{2}{\\alpha}-1"}}
  </mb-kd>
  input data values, where <mb-ki>{{"L"}}</mb-ki> is an equivalent length of the
  smoothing parameter <mb-ki>{{"\\alpha"}}</mb-ki>. We assume <mb-ki>{{"\\alpha"}}</mb-ki>
  to be the same for both EMAs. This approach is the most widely used one.
  <p></p>
  The second way to initialize the EMAs is to use the first input data point as the initial value.
  It is used by the well known (in the past) Metastock tradind software.
  <p></p>
  Regardless of the initialization approach, we always consider DEMA to be primed only
  after the <mb-ki>{{"3L-1"}}</mb-ki> input data points have been fed into the indicator.
  <p></p>
  From the digital signal processing (DSP) point of view, TEMA is a
  infinite impulse response (IIR) filter because it is based on EMA which
  applies exponentially decresing weighting factors to the input samples.
  <p></p>
</div>

<h2>Step response</h2>
Two figures below demonstrate the response to the step-up and step-down data.
The transition is clearly not linear.
The step-up response overshoot and the step-down response undershoot the data.

<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationStepUp" />
  <figcaption>Step-up response.</figcaption>
</figure>
<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationStepDn" />
  <figcaption>Step-down response.</figcaption>
</figure>

<h2>Frequency response</h2>
<div style="width:100%">
  The figure below shows an amplitude and a phase lag of the unit sample response of a TEMA as a function
  of a period of various signal frequencies.
  <p></p>
  A period is a duration of a cycle in samples.
  The smallest possible period of a cycle is <mb-ki>{{"2"}}</mb-ki> samples.
  To understand this, imagine a cycle of a sinusoid which starts at zero, goes up and peaks at <mb-ki>{{"1"}}</mb-ki>,
  continues down and bottoms at <mb-ki>{{"-1"}}</mb-ki>, and then returns back to zero.
  We need at least two samples (peak and through) to represent a cycle.
  <p></p>
</div>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="freqsH" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="maxPeriod" [data]="freqs"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="freqsH" [ymode]="'phaseDeg'" [xmode]="'period'"
    [maxPeriod]="maxPeriod" [minDeg]="-180" [maxDeg]="180" [data]="freqs"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />

  @if (this.csvc.enableChartEditing()) {
    <mat-expansion-panel expanded="false" style="margin-bottom: 1em;">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon fontSet="material-symbols-outlined">tune</mat-icon></mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill">
        <mat-label>Max period to display</mat-label>
        <input matInput type="number" min="8" max="1024" step="1" [(ngModel)]="maxPeriod">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Height</mat-label>
        <input matInput type="number" min="100" max="1024" step="1" [(ngModel)]="freqsH">
      </mat-form-field>
      <app-tema-list [initialLength]="initialFreqs" (changed)="freqsChanged($event);" />
    </mat-expansion-panel>
  }

  <figcaption>An amplitude (a) and a phase lag (b) as a function of a period of a cycle.</figcaption>
</figure>

<div style="width:100%">
  A period (<mb-ki>{{"\\tau"}}</mb-ki>) is an inverse of the cycle's frequency
  (<mb-ki>{{"\\nu"}}</mb-ki>): <mb-ki>{{"\\tau = \\frac{1}{\\nu}"}}</mb-ki>.
  The smallest period <mb-ki>{{"\\tau = 2"}}</mb-ki> corresponds to the Nyquist frequency
  <mb-ki>{{"\\nu = \\frac{1}{\\tau} = \\frac{1}{2}"}}</mb-ki> which is the highest frequency possible in a signal.
</div>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="150" [data]="[tema2, tema5, tema10, tema20]"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [data]="[tema2, tema5, tema10, tema20]"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <figcaption>An amplitude as a function of a period of a cycle (a) and as a function of a normalized frequency of a cycle (b) for various TEMA lengths.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'period'" [maxPeriod]="150" [minDeg]="-100" [maxDeg]="100" [data]="[tema2, tema5, tema10, tema20]"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'frequency'" [minDeg]="-100" [maxDeg]="100" [data]="[tema2, tema5, tema10, tema20]"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <figcaption>A phase as a function of a period of a wave (a) and as a function of a normalized frequency of a wave for various TEMA lengths.</figcaption>
</figure>

<p></p>
<div style="width:100%">
</div>
<hr />
<h2 class="counter-skip">References</h2>
<div class="citation-src"><!-- @Article mulloy1994jan -->Mulloy, P. G. (1994).
  Smoothing Data With Faster Moving Averages. <em>Technical Analysis of Stocks &amp; Commodities</em>, <em>12</em>(1), 11–19.
  <a href="https://technical.traders.com/archive/volume-2014.asp?yr=1994#Jan" target="_blank">traders.com</a>
</div>
<div class="citation-src"><!-- @Article mulloy1994feb -->Mulloy, P. G. (1994).
  Smoothing Data With Less Lag. <em>Technical Analysis of Stocks &amp; Commodities</em>, <em>12</em>(2), 72–80.
  <a href="https://technical.traders.com/archive/volume-2014.asp?yr=1994#Feb" target="_blank">traders.com</a>
</div>
<div class="citation-src"><!-- Website -->Article Archive For Patrick G. Mulloy.
  <em>Technical Analysis of Stocks &amp; Commodities</em>.
  <a href="https://technical.traders.com/archive/combo/display5.asp?author=Patrick%20G%20Mulloy" target="_blank">traders.com</a>
</div>
</div>
