<h1>{{trimaNote.title}}</h1>

<mat-slide-toggle class="slide-toggle" [color]="'primary'" [(ngModel)]="unLocked">
  <mat-icon class="icon">tune</mat-icon>
</mat-slide-toggle>
<app-bar-series-select label="" (selectionChange)="dataSelectionChanged($event)">
</app-bar-series-select>

<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configuration"></mb-ohlcv-chart>

  <mat-expansion-panel expanded="false" style="margin-bottom: 1em;" *ngIf="unlocked">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>tune</mat-icon></mat-panel-title>
    </mat-expansion-panel-header>
    <mb-swatches-select style="vertical-align: bottom;" [selected]="selectedIndex" [colors]="palettes"
      (selectionChange)="indicatorPaletteChanged($event);" [label]="'Palette'">
    </mb-swatches-select>
    <app-trima-list [initial]="initialIndicators" [colors]="selectedPalette"
      (changed)="indicatorsChanged($event);">
    </app-trima-list>
  </mat-expansion-panel>

  <figcaption>{{dataSelection.description}}. <span *ngIf="dataSelection.url"><a href="{{dataSelection.url}}" target="_blank"></a></span></figcaption>
</figure>

<div style="width:100%">
  <figure class="figleft">
    (a)
    <mb-svg-viewer src="assets/indicators/trima-weights-6.svg" [scaleToContainer]="true">    
    </mb-svg-viewer>
    (b)
    <mb-svg-viewer src="assets/indicators/trima-weights-5.svg" [scaleToContainer]="true">    
    </mb-svg-viewer>
    (c)
    <mb-svg-viewer src="assets/indicators/sma-weights-5.svg" [scaleToContainer]="true">    
    </mb-svg-viewer>
  
    <figcaption>Weight coefficients of the (a) TRIMA(6), (b) TRIMA(5) and (c) SMA(5).</figcaption>
  </figure>

  A triangular moving average (TRIMA) of length <mb-ki>L \ge 2</mb-ki> is a weighted mean of the last
  <mb-ki>L</mb-ki> observations of a series <mb-ki>{{"x_{1},\\, x_{2},\\, x_{3},\\,\\ldots\\,,\\, x_{k}"}}</mb-ki>,
  where <mb-ki>{{"x_{k}"}}</mb-ki> is the most recent value and <mb-ki>k \ge L</mb-ki>:
  <mb-kd>{{"\\tag*{(1)}y_{k}=\\frac{\\displaystyle \\sum_{m=1}^{L}w_{m}x_{k-L+m}}{\\displaystyle \\sum_{m=1}^{L}w_{m}}"}}</mb-kd>

  The values of the weighting coefficients <mb-ki>w_m</mb-ki> form a triangle shape with the top angle
  centered in the middle of the moving average window. In case of even value of <mb-ki>L</mb-ki>, there
  are two samples located in the "middle" of the window and the top angle of the imaginary triangle is
  located between them. Figure 2 shows TRIMA weighting coefficients for even and odd values of
  <mb-ki>L</mb-ki>, comparing them with weighting coefficients of the SMA, which are all equal.
  <p></p>
  Knowing this difference, we can represent the values of the weighting coefficients <mb-ki>w_m</mb-ki>
  for both even and odd values of <mb-ki>L</mb-ki> as:
  <mb-kd>
    {{"\\tag*{(2)}w_{m}=\\begin{cases}L=2l\\ \\text{(even):}\\\\m, & 1\\le m\\le l\\\\L+1-m, & l\\lt m\\le L\\\\ \\\\L=2l+1\\ \\text{(odd):}\\\\m, & 1\\le m\\le l+1\\\\L+1-m, & l+1\\lt m\\le L\\end{cases}"}}
  </mb-kd>

  It is easy to see that <mb-ki>w_m</mb-ki> values form two arithmetic progressions, one ascending and
  one descending. This allows us to calculate the sum of weighting coefficients in denominator of equation (1).
  <p></p>  
  Let's consider an arithmetic progression:
  <mb-kd>{{"\\tag*{}a_n=a_{n-1}+d,\\ d=const"}}</mb-kd>
  Its sum when starting summation from the very first element:
  <mb-kd>{{"\\tag*{}s_n=a_1+(a_1+d)+\\dots +(a_1+(n-1)d)"}}</mb-kd>
  If we start summation from the very last element, the sum is:
  <mb-kd>{{"\\tag*{}s_n=a_n+(a_n-d)+\\dots +(a_n-(n-1)d)"}}</mb-kd>
  Summing up the two above equations gives:
  <mb-kd>{{"\\tag*{}s_n=\\frac{n}{2}(a_1+a_n)"}}</mb-kd>

  Let's apply this equation to sum up all weighting coefficients from equation (2).
  For an even <mb-ki>L=2l</mb-ki>:
  <mb-kd>{{"\\tag*{}\\sum_{m=1}^{L}w_{m}=\\sum_{m=1}^{l}m+\\sum_{m=l+1}^{2l}(L+1-m)"}}</mb-kd>
  <mb-kd>{{"\\tag*{}=\\sum_{m=1}^{l}m+l(L+1)-\\sum_{m=l+1}^{2l}m"}}</mb-kd>
  <mb-kd>{{"\\tag*{}=\\frac{l}{2}(1+l)+l(2l+1)-\\frac{l}{2}(l+1+2l)"}}</mb-kd>
  <mb-kd>{{"\\tag*{}=\\frac{l}{2}(1+l+4l+2-3l-1)"}}</mb-kd>
  <mb-kd>{{"\\tag*{}=\\frac{l}{2}(2l+2)=l(l+1)"}}</mb-kd>
  <mb-kd>{{"\\tag*{(3)}=\\frac{1}{4}L(L+2)"}}</mb-kd>
  For an odd <mb-ki>L=2l+1</mb-ki>:
  <mb-kd>{{"\\tag*{}\\sum_{m=1}^{L}w_{m}=\\sum_{m=1}^{l+1}m+\\sum_{m=l+2}^{2l+1}(L+1-m)"}}</mb-kd>
  <mb-kd>{{"\\tag*{}=\\sum_{m=1}^{l+1}m+l(L+1)-\\sum_{m=l+2}^{2l+1}m"}}</mb-kd>
  <mb-kd>{{"\\tag*{}=\\frac{l+1}{2}(l+2)+l(2l+2)-\\frac{l}{2}(3l+3)"}}</mb-kd>
  <mb-kd>{{"\\tag*{}=\\frac{l+1}{2}(l+2+4l-3l)"}}</mb-kd>
  <mb-kd>{{"\\tag*{}=\\frac{l+1}{2}(2l+2)=(l+1)^2"}}</mb-kd>
  <mb-kd>{{"\\tag*{(4)}=\\frac{1}{4}(L+1)^2"}}</mb-kd>

  Hence, combining equations (2), (3) and (4), we can write equation (1) only in terms of <mb-ki>L</mb-ki>:
  <mb-kd>
    {{"\\tag*{(5)}y_{k}=\\begin{cases}L=2l\\ \\text{(even):}\\\\ \\displaystyle \\frac{4}{L(L+2)}\\left[\\sum_{m=1}^{l}mx_{k-L+m}+\\sum_{m=l+1}^{L}(L+1-m)x_{k-L+m}\\right]\\\\ \\\\L=2l+1\\ \\text{(odd):}\\\\ \\displaystyle \\frac{4}{(L+1)^2}\\left[\\sum_{m=1}^{l+1}mx_{k-L+m}+\\sum_{m=l+2}^{L}(L+1-m)x_{k-L+m}\\right]\\end{cases}"}}
  </mb-kd>
  The TRIMA is a finite impulse response (FIR) filter because only a finite number of <mb-ki>{{"L"}}</mb-ki> last samples contribute to its value.
  <p></p>

  The TRIMA is equivalent to doing an SMA of an SMA. As usial, the odd and even cases are slightly different.
  <mb-kd>
    {{"\\tag*{(6)}trima(x,L)=\\begin{cases}L=2l\\ \\text{(even):}\\\\ \\displaystyle sma\\left(sma(x,\\frac{L}{2}),\\frac{L}{2}+1\\right)\\\\ \\\\L=2l+1\\ \\text{(odd):}\\\\ \\displaystyle sma\\left(sma(x,\\frac{L+1}{2}),\\frac{L+1}{2}\\right)\\end{cases}"}}
  </mb-kd>

  <figure class="figleft">
    (a)
    <mb-svg-viewer src="assets/indicators/trima-sma-over-sma-6.svg" [scaleToContainer]="true">    
    </mb-svg-viewer>
    (b)
    <mb-svg-viewer src="assets/indicators/trima-sma-over-sma-5.svg" [scaleToContainer]="true">    
    </mb-svg-viewer>
  
    <figcaption>SMA over SMA calculation grid for the even and odd length of the TRIMA: (a) TRIMA(6) and (b) TRIMA(5).</figcaption>
  </figure>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
 </div>


<h2>Frequency response</h2>
<div style="width:100%">
  The figure below shows an amplitude and a phase lag of the unit sample response of an TRIMA as a function
  of a period of various signal frequencies.
  <p></p>
  A period is a duration of a cycle in samples.
  The smallest possible period of a cycle is <mb-ki>{{"2"}}</mb-ki> samples.
  To understand this, imagine a cycle of a sinusoid which starts at zero, goes up and peaks at <mb-ki>{{"1"}}</mb-ki>,
  continues down and bottoms at <mb-ki>{{"-1"}}</mb-ki>, and then returns back to zero.
  We need at least two samples (peak and through) to represent a cycle.
  <p></p>

</div>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="freqsH" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="maxPeriod" [data]="freqs"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="freqsH" [ymode]="'phaseDeg'" [xmode]="'period'"
    [maxPeriod]="maxPeriod" [minDeg]="-180" [maxDeg]="180" [data]="freqs"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>

  <mat-expansion-panel expanded="false" style="margin-bottom: 1em;" *ngIf="unlocked">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>tune</mat-icon></mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label>Max period to display</mat-label>
      <input matInput type="number" min="8" max="1024" step="1" [(ngModel)]="maxPeriod">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput type="number" min="100" max="1024" step="1" [(ngModel)]="freqsH">
    </mat-form-field>

    <app-trima-list [initial]="initialFreqs" (changed)="freqsChanged($event);"></app-trima-list>
  </mat-expansion-panel>

  <figcaption>An amplitude (a) and a phase lag (b) as a function of a period of a cycle.</figcaption>
</figure>

<div style="width:100%">
  A period (<mb-ki>{{"\\tau"}}</mb-ki>) is an inverse of the cycle's frequency
  (<mb-ki>{{"\\nu"}}</mb-ki>): <mb-ki>{{"\\tau = \\frac{1}{\\nu}"}}</mb-ki>.
  The smallest period <mb-ki>{{"\\tau = 2"}}</mb-ki> corresponds to the Nyquist frequency
  <mb-ki>{{"\\nu = \\frac{1}{\\tau} = \\frac{1}{2}"}}</mb-ki> which is the highest frequency possible in a signal.

</div>

<figure class="figwide">
  <!--mat-grid-list cols="2" rowHeight="260px">
    <mat-grid-tile>
    </mat-grid-tile>
  </mat-grid-list-->
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="15" [data]="[trima2, trima4, trima6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(c)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="15" [data]="[trima3, trima5, trima7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>An amplitude as a function of a period of a cycle for even (a) and odd (b) TRIMA length.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [data]="[trima2, trima4, trima6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(d)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [data]="[trima3, trima5, trima7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>An amplitude as a function of a normalized frequency of a cycle for even (a) and odd (b) TRIMA length.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'period'" [maxPeriod]="15" [minDeg]="-180" [maxDeg]="180" [data]="[trima2, trima4, trima6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(c)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'period'" [maxPeriod]="15" [minDeg]="-180" [maxDeg]="180" [data]="[trima3, trima5, trima7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>A phase as a function of a period of a wave for even (a) and odd (b) TRIMA length.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'frequency'" [minDeg]="-180" [maxDeg]="180" [data]="[trima2, trima4, trima6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(d)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'frequency'" [minDeg]="-180" [maxDeg]="180" [data]="[trima3, trima5, trima7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>A phase as a function of a normalized frequency of a wave for even (a) and odd (b) TRIMA length.</figcaption>
</figure>

<p></p>
<div style="width:100%">
</div>
<hr />
<h2 class="counter-skip">References</h2>
<div><!-- @Book Jeffrey2008 --> Jeffrey, A., &amp; Dai, H. H. (2008).
  <em>Handbook of mathematical formulas and integrals</em>. (4th ed., p. 592). San Diego, CA: Elsevier/Academic Press.
  <a href="https://books.google.com/books?id=JokQD5nK4LMC" target="_blank"></a>
</div>
<div><!-- @Book Mak2021 -->Mak, D. K. (2021).
  <em>Trading Tactics in the Financial Market: Mathematical Methods to Improve Performance</em> (p. ix+269).
  doi:10.1007/978-3-030-70622-7
  <a href="https://books.google.com/books?id=q9Q6EAAAQBAJ" target="_blank"></a>
</div>
<div><!-- @Book Oppenheim2009 -->Oppenheim, A. V., Schafer, R. W., Yoder, M. A., &amp; Padgett, W. T. (2009).
  <em>Discrete-time signal processing</em>. (3rd ed., p. 1120). Upper Saddle River, NJ: Pearson.
  <a href="https://books.google.com/books?id=EaMuAAAAQBAJ" target="_blank"></a>
</div>
