//@use "@angular/material" as mat;

:host {
  .setting {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-height: 3rem;

    .setting-label {
      flex: 1; // Takes up all remaining space
    }

    mat-slide-toggle {
      flex: 0 0 auto; // Don't grow/shrink, use natural width
    }
  }
}