<app-bar-series-select label="example data" (selectionChange)="dataSelectionChanged($event)"></app-bar-series-select>
<mb-linear-chart [dataSeries]="dataSelection.data" [title]="dataSelection.mnemonic"></mb-linear-chart>
<br />
<hr />
<h1>From [Ehlers2001]</h1>
<div style="width:100%">
  Close to the <a href="/3">Simple Moving Average</a>, but multiplier coefficients
  are not constant across the window width but are linearly weighted.
  <mb-kd>{{"\\tag*{}WMA_N = \\frac{\\sum\\limits_{i=0}^{N-1}{(N-i)P_i}}{\\sum\\limits_{i=0}^{N-1}{(N-i)}}"}}</mb-kd>

  The sum of the data and coefficient products are divided by the sum of coefficients to normalize the averaging process.

  The major advantage of WMA is the reduced lag which results from the most recent data being the most heavily weighted.
  WMA coefficients form triangle across the width of the filter, resulting a center of gravity being
  <mb-ki>{{"\\frac{1}{3}"}}</mb-ki> across the window.
</div>
<br />
<hr />
<h1 class="counter-skip">References</h1>
<div id='Ehlers2001'>Ehlers, John F. (2001). <em>Rocket Science for Traders: Digital Signal Processing
    Applications</em>. Wiley, 2001. ISBN:9780471405672 <a
    href="https://books.google.nl/books?id=K9F1rgEACAAJ">online</a> <a href="offline/ehlers2001.pdf">offline</a></div>
<div id='Ehlers2004'>Ehlers, John F. (2004). <em>Cybernetic Analysis for Stocks and Futures: Cutting-Edge DSP Technology
    to Improve Your Trading</em>. Wiley, 2004. ISBN:9780471463078 <a
    href="https://books.google.nl/books?id=Wj6sNAEACAAJ">online</a> <a href="offline/ehlers2004.pdf">offline</a></div>
<div id='Ehlers2013'>Ehlers, John F. (2013). <em>Cycle Analytics for Traders + Downloadable Software: Advanced Technical
    Trading Concepts</em>. John Wiley &amp; Sons, 2013. ISBN:9781118728604 <a
    href="https://books.google.nl/books?id=2z9VAgAAQBAJ">online</a> <a href="offline/ehlers2013.pdf">offline</a></div>
<div id='Ehlers1992'>Ehlers, John F. (1992). <em>MESA and Trading Market Cycles</em>. Wiley, 1992. ISBN:9780471549437 <a
    href="https://books.google.nl/books?id=0UUUAQAAMAAJ">online</a> <a href="offline/ehlers1992.pdf">offline</a></div>
<div id='Ehlers2010'>Ehlers, John F. and Way, Rick (2010, November). <em>Zero Lag (Well, Almost)</em>. Technical
  Analysis of Stocks &amp; Commodities, vol. 28 (11), pp. 30-35. ISSN:0738-3355 <a
    href="http://store.traders.com/stcov283zela.html">online</a> <a
    href="offline/tasc_v28_2010_11_pp30-35_John_Ehlers_Ric_Way-Zero_Lag_(Well_Almost).pdf">offline</a></div>
