<h1>{{wmaNote.title}}</h1>

<mat-slide-toggle class="slide-toggle" [color]="'primary'" [(ngModel)]="unLocked">
  <mat-icon class="icon">tune</mat-icon>
</mat-slide-toggle>
<app-bar-series-select label="" (selectionChange)="dataSelectionChanged($event)">
</app-bar-series-select>

<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configuration"></mb-ohlcv-chart>

  <mat-expansion-panel expanded="false" style="margin-bottom: 1em;" *ngIf="unlocked">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>tune</mat-icon></mat-panel-title>
    </mat-expansion-panel-header>
    <mb-swatches-select style="vertical-align: bottom;" [selected]="selectedIndex" [colors]="palettes"
      (selectionChange)="indicatorPaletteChanged($event);" [label]="'Palette'">
    </mb-swatches-select>
    <app-wma-list [initial]="initialIndicators" [colors]="selectedPalette"
      (changed)="indicatorsChanged($event);">
    </app-wma-list>
  </mat-expansion-panel>

  <figcaption>{{dataSelection.description}}. <span *ngIf="dataSelection.url"><a href="{{dataSelection.url}}" target="_blank"></a></span></figcaption>
</figure>

<div style="width:100%">
  <figure class="figleft">
    (a)
    <mb-svg-viewer src="assets/indicators/wma-weights-5.svg" [scaleToContainer]="true">    
    </mb-svg-viewer>
    (b)
    <mb-svg-viewer src="assets/indicators/sma-weights-5.svg" [scaleToContainer]="true">    
    </mb-svg-viewer>
  
    <figcaption>Weighting factors of the (a) WMA and (b) SMA.</figcaption>
  </figure>

  A Weighted Moving Average (WMA) or, in academic parlance, Linear Weighted Moving Average (LWMA)
  of length <mb-ki>L \ge 2</mb-ki> is the weighted mean of the last
  <mb-ki>L</mb-ki> observations of a series <mb-ki>{{"x_{1},\\, x_{2},\\, x_{3},\\,\\ldots\\,,\\, x_{k}"}}</mb-ki>,
  where <mb-ki>{{"x_{k}"}}</mb-ki> is the most recent value and <mb-ki>k \ge L</mb-ki>.
  
  <p></p>
  It is similar to the <a href="/{{smaNote.route}}">Simple Moving Average</a>, but the multiplier 
  weighting coefficients linearly descend from <mb-ki>L</mb-ki> at the last to <mb-ki>1</mb-ki>
  at the first element of the moving average window, so the earlier samples have less impact on the WMA.
  <mb-kd>{{"\\tag*{(1)}wma_{k}=\\frac{\\sum\\limits_{m=k-L+1}^{L}{m\\cdot x_{m}}}{\\sum\\limits_{m=1}^{L}{m}}"}}</mb-kd>

  The sum of the data and the weighting coefficient products is divided by the sum
  of the weighting coefficients to normalize the averaging process.

  The major advantage of the WMA is the reduced lag which results from the most recent data being
  the most heavily weighted.
  
  The WMA coefficients form triangle across the width of the moving average window, resulting a center
  of the gravity being <mb-ki>{{"\\frac{1}{3}"}}</mb-ki> across the window.
  <p></p>
  The denominator in the equation (1) is a triangular number:
  <mb-kd>{{"\\tag*{(2)}\\sum\\limits_{m=1}^{L}{m}=1+2+3+\\ldots+L=\\frac{L(L+1)}{2}"}}</mb-kd>

  This can be easily shown using the induction. Assuming that for certain <mb-ki>{{"n"}}</mb-ki>
  <mb-kd>{{"\\tag*{}\\sum\\limits_{m=1}^{n}{m}=\\frac{n(n+1)}{2}"}}</mb-kd>

  and adding <mb-ki>{{"n+1"}}</mb-ki> to both sides gives
  <mb-kd>{{"\\tag*{}\\sum\\limits_{m=1}^{n}{m+(n+1)}=\\frac{n(n+1)}{2}+n+1"}}</mb-kd>
  <mb-kd>{{"\\tag*{}=\\frac{n(n+1)+2n+2}{2}=\\frac{n^2+3n+2}{2}"}}</mb-kd>
  <mb-kd>{{"\\tag*{}=\\frac{(n+1)(n+2)}{2}"}}</mb-kd>

  Now we can substitutethe the summation in the denominator of the equation (1) with the triangular number:
  <mb-kd>{{"\\tag*{(3)}wma_{k}=\\frac{2}{L(L+1)}\\sum\\limits_{m=k-L+1}^{L}{m\\cdot x_{m}}"}}</mb-kd>

  The numerator in of the equation (1) can be re-written for <mb-ki>{{"k+1"}}</mb-ki> as
  <mb-kd>{{"\\tag*{}wma_{k+1}=wma_{k}+(k+1)x_{k+1}-x_{k}-?-x_{k-L+1}-\\sum\\limits_{m=k-L+1}^{k}{x_{k}}"}}</mb-kd>

  Denoting
  <mb-kd>{{"\\tag*{}sum_{k}=\\sum\\limits_{m=k-L+1}^{k}"}}</mb-kd>

  we get
  <mb-kd>{{"\\tag*{}sum_{k+1}=sum_{k}+x_{k+1}-x_{k-L+1}"}}</mb-kd>
  <mb-kd>{{"\\tag*{}numerator_{k+1}=numerator_{k}+Lx_{k+1}-sum_{k}"}}</mb-kd>

  and
  <mb-kd>{{"\\tag*{}wma_{k+1}=\\frac{2\\cdot numerator_{k+1}}{L(L+1)}=numerator_{k+1}\\frac{2}{L(L+1)}"}}</mb-kd>

  which gives an efficient formula to calculate WMA:
  <mb-kd>{{"\\tag*{}wma_{k}=\\frac{2}{L(L+1)}\\cdot\\sum\\limits_{m=0}^{L-1}{(L-m)x_{k-m}}"}}</mb-kd>
  <mb-kd>{{"\\tag*{(4)}=\\frac{2}{L(L+1)}\\cdot\\sum\\limits_{m=1}^{L}{m\\cdot x_{k-L+m}},\\ \\forall k=1,\\, 2,\\,\\ldots\\,,\\, L"}}</mb-kd>

  <p></p>
  From the digital signal processing (DSP) point of view, WMA is a finite impulse response (FIR)
  filter with the weight coefficients
  <mb-kd>
    {{"\\tag*{(5)}w_{k}=\\frac{2k}{L(L+1)},\\ \\forall k=1,\\, 2,\\,\\ldots\\,,\\, L"}}
  </mb-kd>

  The filter is finite because only a finite number of <mb-ki>{{"L"}}</mb-ki> last samples
  contribute to its value.
  <p></p>
</div>

<h2>Step response</h2>
Two figures below demonstrate the response to the step-up and step-down data.
The transition is clearly not linear.
Both responses touch the step data with the lag equal to the length <mb-ki>{{"L"}}</mb-ki> of the filter.
The step-up response doesn't overshoot and the step-down response doesn't undershoot the data.

<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationStepUp"></mb-ohlcv-chart>
  <figcaption>Step-up response.</figcaption>
</figure>
<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationStepDn"></mb-ohlcv-chart>
  <figcaption>Step-down response.</figcaption>
</figure>

<h2>Frequency response</h2>
<div style="width:100%">
  The figure below shows an amplitude and a phase lag of the unit sample response of an WMA as a function
  of a period of various signal frequencies.
  <p></p>
  A period is a duration of a cycle in samples.
  The smallest possible period of a cycle is <mb-ki>{{"2"}}</mb-ki> samples.
  To understand this, imagine a cycle of a sinusoid which starts at zero, goes up and peaks at <mb-ki>{{"1"}}</mb-ki>,
  continues down and bottoms at <mb-ki>{{"-1"}}</mb-ki>, and then returns back to zero.
  We need at least two samples (peak and through) to represent a cycle.
  <p></p>

</div>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="freqsH" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="maxPeriod" [data]="freqs"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="freqsH" [ymode]="'phaseDeg'" [xmode]="'period'"
    [maxPeriod]="maxPeriod" [minDeg]="-180" [maxDeg]="180" [data]="freqs"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>

  <mat-expansion-panel expanded="false" style="margin-bottom: 1em;" *ngIf="unlocked">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>tune</mat-icon></mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label>Max period to display</mat-label>
      <input matInput type="number" min="8" max="1024" step="1" [(ngModel)]="maxPeriod">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput type="number" min="100" max="1024" step="1" [(ngModel)]="freqsH">
    </mat-form-field>

    <app-wma-list [initial]="initialFreqs" (changed)="freqsChanged($event);"></app-wma-list>
  </mat-expansion-panel>

  <figcaption>An amplitude (a) and a phase lag (b) as a function of a period of a cycle.</figcaption>
</figure>

<div style="width:100%">
  A period (<mb-ki>{{"\\tau"}}</mb-ki>) is an inverse of the cycle's frequency
  (<mb-ki>{{"\\nu"}}</mb-ki>): <mb-ki>{{"\\tau = \\frac{1}{\\nu}"}}</mb-ki>.
  The smallest period <mb-ki>{{"\\tau = 2"}}</mb-ki> corresponds to the Nyquist frequency
  <mb-ki>{{"\\nu = \\frac{1}{\\tau} = \\frac{1}{2}"}}</mb-ki> which is the highest frequency possible in a signal.

</div>

<figure class="figwide">
  <!--mat-grid-list cols="2" rowHeight="260px">
    <mat-grid-tile>
    </mat-grid-tile>
  </mat-grid-list-->
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="15" [data]="[wma2, wma4, wma6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(c)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="15" [data]="[wma3, wma5, wma7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>An amplitude as a function of a period of a cycle for even (a) and odd (b) WMA length.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [data]="[wma2, wma4, wma6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(d)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [data]="[wma3, wma5, wma7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>An amplitude as a function of a normalized frequency of a cycle for even (a) and odd (b) WMA length.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'period'" [maxPeriod]="15" [minDeg]="-180" [maxDeg]="180" [data]="[wma2, wma4, wma6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(c)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'period'" [maxPeriod]="15" [minDeg]="-180" [maxDeg]="180" [data]="[wma3, wma5, wma7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>A phase as a function of a period of a wave for even (a) and odd (b) WMA length.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'frequency'" [minDeg]="-180" [maxDeg]="180" [data]="[wma2, wma4, wma6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(d)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'frequency'" [minDeg]="-180" [maxDeg]="180" [data]="[wma3, wma5, wma7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>A phase as a function of a normalized frequency of a wave for even (a) and odd (b) WMA length.</figcaption>
</figure>

<p></p>
<div style="width:100%">
</div>
<hr />
<h2 class="counter-skip">References</h2>
<div><!-- @Book Jeffrey2008 --> Jeffrey, A., &amp; Dai, H. H. (2008).
  <em>Handbook of mathematical formulas and integrals</em>. (4th ed., p. 592). San Diego, CA: Elsevier/Academic Press.
  <a href="https://books.google.com/books?id=JokQD5nK4LMC" target="_blank"></a>
</div>
<div><!-- @Book Mak2021 -->Mak, D. K. (2021).
  <em>Trading Tactics in the Financial Market: Mathematical Methods to Improve Performance</em> (p. ix+269).
  doi:10.1007/978-3-030-70622-7
  <a href="https://books.google.com/books?id=q9Q6EAAAQBAJ" target="_blank"></a>
</div>
<div><!-- @Book Oppenheim2009 -->Oppenheim, A. V., Schafer, R. W., Yoder, M. A., &amp; Padgett, W. T. (2009).
  <em>Discrete-time signal processing</em>. (3rd ed., p. 1120). Upper Saddle River, NJ: Pearson.
  <a href="https://books.google.com/books?id=EaMuAAAAQBAJ" target="_blank"></a>
</div>
