<div class="sample">

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-triangular-moving-average-params (selectionChange)="selected1 = $event;">
      </mb-triangular-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected1 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>With initial value</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-triangular-moving-average-params [initial]="initial2" (selectionChange)="selected2 = $event;">
      </mb-triangular-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected2 | json}}</pre>
    </mat-card-content>
  </mat-card>

</div>