<div class="sample">

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Linear period unidirectional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-multiline [data]="linPerUni" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{linPerUniMoniker}}
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Linear period bidirectional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-multiline [data]="linPerBi" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{linPerBiMoniker}}
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Quad period unidirectional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-multiline [data]="quadPerUni" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{quadPerUniMoniker}}
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Quad period bidirectional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-multiline [data]="quadPerBi" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{quadPerBiMoniker}}
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Log period unidirectional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-multiline [data]="logPerUni" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{logPerUniMoniker}}
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Log period bidirectional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-multiline [data]="logPerBi" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{logPerBiMoniker}}
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Linear frequency unidirectional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-multiline [data]="linFreqUni" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{linFreqUniMoniker}}
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Linear frequency bidirectional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-multiline [data]="linFreqBi" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{linFreqBiMoniker}}
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Quad frequency unidirectional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-multiline [data]="quadFreqUni" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{quadFreqUniMoniker}}
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Quad frequency bidirectional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-multiline [data]="quadFreqBi" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{quadFreqBiMoniker}}
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Log frequency unidirectional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-multiline [data]="logFreqUni" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{logFreqUniMoniker}}
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Log frequency biidirectional</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-multiline [data]="logFreqBi" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{logFreqBiMoniker}}
    </mat-card-content>
  </mat-card>

</div>