:host {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  .download-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;

    label {
      flex: 1; // Takes up all remaining space
    }
  }
}
