@if (dynamicTheming()) {
<mb-dynamic-theming (parametersChange)="this.params = $event;" [presets]="themePresets()"
  [showPresets]="dynamicThemingShowPresets()"
  [showGenerator]="dynamicThemingShowGenerator()"
  [showTertiary]="dynamicThemingShowTertiary()"
  [showContrast]="dynamicThemingShowContrast()"
  [showVariant]="dynamicThemingShowVariant()"
  [showSpecVersion]="dynamicThemingShowSpecVersion()"
  [showPlatform]="dynamicThemingShowPlatform()"
  [showRememberTheme]="dynamicThemingShowRememberTheme()"
/>
}
@if (lightDark()) {
<mb-light-dark-preference />
}
@if (downloadThemeSCSS()) {
<div class="download-section">
  <label>Download theme colors as SCSS</label>
  <button mat-mini-fab (click)="downloadScssStyle()">
    <mat-icon fontSet="material-symbols-outlined">download</mat-icon>
  </button>
</div>
}
