@import "app/shared/toolbar/toolbar-theme";
@import "app/shared/footer/footer-theme";
@import "../../mb/src/lib/svg-viewer/svg-viewer-theme";
@import "../../mb/src/lib/charts/historical-data-chart/historical-data-chart-theme";
@import "../../mb/src/lib/charts/linear-chart/linear-chart-theme";
@import "../../mb/src/lib/charts/ohlcv-chart/ohlcv-chart-theme";
@import "../../mb/src/lib/charts/frequency-response-chart/frequency-response-chart-theme";

@mixin app-components-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $next-theme: mat.define-palette(mat.$red-palette);

  @include toolbar-theme($theme);
  @include footer-theme($theme);
  @include svg-viewer-theme($theme);
  @include historical-data-chart-theme($theme);
  @include ohlcv-chart-theme($theme);
  @include frequency-response-chart-theme($theme);
}
