@use '@angular/material' as mat;
@use '@angular/cdk';

@use "app/shared/toolbar/toolbar-theme" as *;
@use "app/shared/footer/footer-theme" as *;
/*
@use "../../mb/src/lib/svg-viewer/svg-viewer-theme" as *;
@use "../../mb/src/lib/charts/historical-data-chart/historical-data-chart-theme" as *;
@use "../../mb/src/lib/charts/linear-chart/linear-chart-theme" as *;
@use "../../mb/src/lib/charts/ohlcv-chart/ohlcv-chart-theme" as *;
@use "../../mb/src/lib/charts/ohlcv-chart/selector/dash-svg-theme" as *;
@use "../../mb/src/lib/charts/ohlcv-chart/selector/width-svg-theme" as *;
@use "../../mb/src/lib/charts/frequency-response-chart/frequency-response-chart-theme" as *;
@use "../../mb/src/lib/charts/hilbert-curve/hilbert-curve-theme" as *;
*/
@mixin app-components-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $next-theme: mat.m2-define-palette(mat.$m2-red-palette);

  @include cdk.text-field-autosize;
  /*@include toolbar-theme($theme);
  @include footer-theme($theme);
  @include svg-viewer-theme($theme);
  @include historical-data-chart-theme($theme);
  @include ohlcv-chart-theme($theme);
  @include dash-svg-theme($theme);
  @include width-svg-theme($theme);
  @include frequency-response-chart-theme($theme);
  @include hilbert-curve-theme($theme);*/
}
