// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "styles/_theme-colors-teal-pink.scss" as theme-colors;

$enable-sparkline-theming: false;
$enable-multiline-chart-theming: false;
$enable-ohlcv-chart-theming: false;
$enable-linear-chart-theming: false;
$enable-frequency-response-chart-theming: false;
@use "../../../dist/mb/styles/" as mb;

// Styles used by KaTeX.
@use 'katex/dist/katex.css' as *;

// Include material symbols fonts.
@use 'material-symbols' with ($material-symbols-font-path: 'material-symbols/'
);

/*@use 'roboto-fontface/css/roboto/sass/roboto-fontface' with (
  $roboto-font-path: 'roboto-fontface/fonts'
);*/

@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource/roboto/scss" as Roboto;
@include fontsource.faces($metadata: Roboto.$metadata);

:root {
  // This will use 'prefers-color-scheme' to automatically set the initial light-dark mode.
  color-scheme: light dark;

  // Only apply the static theme if no dynamic theme is saved in local storage
  // See index.html where this check is made.
  &:not([has-dynamic-theme]) {
    @include mat.theme((color: ( //primary: mat.$green-palette,
          //tertiary: mat.$violet-palette,
          primary: theme-colors.$primary-palette,
          tertiary: theme-colors.$tertiary-palette,
        ),
        typography: Roboto,
        density: 0,
      ));

    // Use high contrast values when users prefer contrast
    @media (prefers-contrast: more) {
      @include theme-colors.high-contrast-overrides(color-scheme);
    }
  }

  &[has-dynamic-theme] {
    // Apply base theme structure without colors
    @include mat.theme((typography: Roboto,
        density: 0,
      ));
  }

  @if $enable-sparkline-theming {
    @include mb.sparkline-overrides((
      stroke-width: 0,
      stroke-color: var(--mat-sys-primary),
      fill-color: var(--mat-sys-primary),
    ));
  }

  @if $enable-multiline-chart-theming {
    @include mb.multiline-overrides((
      axis-color: var(--mat-sys-secondary),
      grid-color: var(--mat-sys-secondary),
      grid-opacity: 0.5,
    ));
  }

  @if $enable-ohlcv-chart-theming {
    @include mb.ohlcv-chart-overrides((
      axis-color: var(--mat-sys-secondary),
      crosshair-annotation-background: var(--mat-sys-secondary-container),
      crosshair-annotation-color: var(--mat-sys-on-secondary-container),
      legend-color: var(--mat-sys-secondary),
      legend-font-family: var(--mat-sys-label-small-font),
      legend-font-size: var(--mat-sys-label-small-size),
      control-panel-variant-color: var(--mat-sys-tertiary),
      control-panel-on-variant-color: var(--mat-sys-on-tertiary),
      control-panel-variant-container-color: var(--mat-sys-tertiary-container),
      control-panel-on-variant-container-color: var(--mat-sys-on-tertiary-container),
    ));
  }

  @if $enable-linear-chart-theming {
    @include mb.linear-chart-overrides((
      axis-color: var(--mat-sys-secondary),
      crosshair-annotation-background: var(--mat-sys-secondary-container),
      crosshair-annotation-color: var(--mat-sys-on-secondary-container),
      legend-color: var(--mat-sys-secondary),
      legend-font-family: var(--mat-sys-label-small-font),
      legend-font-size: var(--mat-sys-label-small-size),
      control-panel-variant-color: var(--mat-sys-tertiary),
      control-panel-on-variant-color: var(--mat-sys-on-tertiary),
      control-panel-variant-container-color: var(--mat-sys-tertiary-container),
      control-panel-on-variant-container-color: var(--mat-sys-on-tertiary-container),
    ));
  }

  @if $enable-frequency-response-chart-theming {
    @include mb.frequency-response-chart-overrides((
      axis-color: var(--mat-sys-secondary),
      label-color: var(--mat-sys-secondary),
      legend-color: var(--mat-sys-secondary),
      coords-color: var(--mat-sys-on-tertiary),
      control-panel-variant-color: var(--mat-sys-tertiary),
      control-panel-on-variant-color: var(--mat-sys-on-tertiary),
      control-panel-variant-container-color: var(--mat-sys-tertiary-container),
      control-panel-on-variant-container-color: var(--mat-sys-on-tertiary-container),
    ));
  }
}

// Body style.
html,
body {
  height: 100%;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
