.wrapper {
  display: inline-flex;
}

.note-card {
  margin: 8px;
  width: fit-content;
}

.chip-list{
  font-size: xx-small;
  //width:100%;
  //margin-bottom: 10px;
}

mat-card-title{
  cursor: pointer;
}
