<div class="sample">
  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Defaults</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-frequency-response-chart [data]="[sma7, sma5, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Percentage width</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[width]="200"</mat-card-subtitle>
      <mb-frequency-response-chart [width]="200" [data]="[sma7, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle>style="width:100%"</mat-card-subtitle>
      <mb-frequency-response-chart style="width:100%" [data]="[sma7, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle>[width]="'50%'"</mat-card-subtitle>
      <mb-frequency-response-chart [width]="'50%'" [data]="[sma7, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle>style="min-width:200px;max-width:400px" [width]="'50%'"</mat-card-subtitle>
      <mb-frequency-response-chart  style="min-width:200px;max-width:400px" [width]="'50%'" [data]="[sma7, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Percentage height</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[width]="'50%'" [height]="200"</mat-card-subtitle>
      <mb-frequency-response-chart [width]="'50%'" [height]="200" [data]="[sma6, sma2]"></mb-frequency-response-chart>
    </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle>[width]="300" [height]="'80%width'"</mat-card-subtitle>
      <mb-frequency-response-chart [width]="300" [height]="'80%width'" [data]="[sma6, sma2]"></mb-frequency-response-chart>
    </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle>[width]="'50%'" [height]="'80%width'"</mat-card-subtitle>
      <mb-frequency-response-chart [width]="'50%'" [height]="'80%width'" [data]="[sma6, sma2]"></mb-frequency-response-chart>
    </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle>[width]="'50%'" [height]="'80%width'" style="min-height:100px;max-height:300px"</mat-card-subtitle>
      <mb-frequency-response-chart [width]="'50%'" [height]="'80%width'" style="min-height:100px;max-height:300px" [data]="[sma6, sma2]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>X mode: frequency</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[xmode]="'frequency'"</mat-card-subtitle>
      <mb-frequency-response-chart [xmode]="'frequency'" [data]="[sma2, sma6]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>X mode: period</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[xmode]="'period'"</mat-card-subtitle>
      <mb-frequency-response-chart [xmode]="'period'" [data]="[sma2, sma6]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Y mode: powerDb</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[ymode]="'powerDb'"</mat-card-subtitle>
      <mb-frequency-response-chart [ymode]="'powerDb'" [data]="[sma2, sma6]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Y mode: powerPct</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[ymode]="'powerPct'"</mat-card-subtitle>
      <mb-frequency-response-chart [ymode]="'powerPct'" [data]="[sma2, sma6]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Y mode: amplitudeDb</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[ymode]="'amplitudeDb'"</mat-card-subtitle>
      <mb-frequency-response-chart [ymode]="'amplitudeDb'" [data]="[sma2, sma6]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Y mode: amplitudePct</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[ymode]="'amplitudePct'"</mat-card-subtitle>
      <mb-frequency-response-chart [ymode]="'amplitudePct'" [data]="[sma2, sma6]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Y mode: phaseDeg</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[ymode]="'phaseDeg'"</mat-card-subtitle>
      <mb-frequency-response-chart [ymode]="'phaseDeg'" [data]="[sma2, sma6]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Y mode: phaseDegUnwrapped</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[ymode]="'phaseDegUnwrapped'"</mat-card-subtitle>
      <mb-frequency-response-chart [ymode]="'phaseDegUnwrapped'" [data]="[sma7, sma20]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>X period [min, max]</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[minPeriod]="2" [maxPeriod]="8" [xmode]="'period'"</mat-card-subtitle>
      <mb-frequency-response-chart [minPeriod]="2" [maxPeriod]="8" [xmode]="'period'" [data]="[sma5, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>X frequency [min, max]</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[minFrequency]="0.5" [maxFrequency]="0.8" [xmode]="'frequency'"</mat-card-subtitle>
      <mb-frequency-response-chart [minFrequency]="0.5" [maxFrequency]="0.8" [xmode]="'frequency'" [data]="[sma5, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Y decibels [min, max]</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[minDb]="-60" [maxDb]="-20" [ymode]="'powerDb'"</mat-card-subtitle>
      <mb-frequency-response-chart [minDb]="-60" [maxDb]="-20" [ymode]="'powerDb'" [data]="[sma5, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle>[minDb]="-40" [maxDb]="-5" [ymode]="'amplitudeDb'"</mat-card-subtitle>
      <mb-frequency-response-chart [minDb]="-40" [maxDb]="-5" [ymode]="'amplitudeDb'" [data]="[sma5, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Y percentages [min, max]</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[minPct]="-1" [maxPct]="20" [ymode]="'powerPct'"</mat-card-subtitle>
      <mb-frequency-response-chart [minPct]="-1" [maxPct]="20" [ymode]="'powerPct'" [data]="[sma5, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle>[minPct]="-1" [maxPct]="40" [ymode]="'amplitudePct'"</mat-card-subtitle>
      <mb-frequency-response-chart [minPct]="-1" [maxPct]="40" [ymode]="'amplitudePct'" [data]="[sma5, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Y phase degrees [min, max]</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[minDeg]="-150" [maxDeg]="90" [ymode]="'phaseDeg'"</mat-card-subtitle>
      <mb-frequency-response-chart [minDeg]="-150" [maxDeg]="90" [ymode]="'phaseDeg'" [data]="[sma5, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Y phase degrees unwrapped [min, max]</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[minDeg]="-360" [maxDeg]="10" [ymode]="'phaseDegUnwrapped'"</mat-card-subtitle>
      <mb-frequency-response-chart [minDeg]="-360" [maxDeg]="10" [ymode]="'phaseDegUnwrapped'" [data]="[sma5, sma3]"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Sub-figure (mat-grid-list)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[subfig]="'(a)'" [width]="200"<br/>[subfig]="'(b)'" [width]="200" [ymode]="'powerPct'"</mat-card-subtitle>
      <mat-grid-list cols="2" gutterSize="0" rowHeight="206" style="width: 410px;">
        <mat-grid-tile>
          <mb-frequency-response-chart [subfig]="'(a)'" [width]="200" [height]="200" [data]="[sma5, sma3]"></mb-frequency-response-chart>
        </mat-grid-tile>
        <mat-grid-tile>
          <mb-frequency-response-chart [subfig]="'(b)'" [width]="200" [height]="200" [ymode]="'powerPct'" [data]="[sma5, sma3]"></mb-frequency-response-chart>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Sub-figure (flex)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[subfig]="'(a)'" [width]="200"<br/>[subfig]="'(b)'" [width]="200" [ymode]="'powerPct'"</mat-card-subtitle>
      <div class="chart-row">
        <mb-frequency-response-chart [subfig]="'(a)'" [width]="200" [height]="200" [data]="[sma5, sma3]"></mb-frequency-response-chart>
        <mb-frequency-response-chart [subfig]="'(b)'" [width]="200" [height]="200" [ymode]="'powerPct'" [data]="[sma5, sma3]"></mb-frequency-response-chart>
      </div>
      <div class="chart-row">
        <mb-frequency-response-chart [subfig]="'(c)'" [width]="200" [height]="200" [data]="[sma5, sma3]"></mb-frequency-response-chart>
        <mb-frequency-response-chart [subfig]="'(d)'" [width]="200" [height]="200" [ymode]="'powerPct'" [data]="[sma5, sma3]"></mb-frequency-response-chart>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Settings panel</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[settingsPanelVisible]="false"</mat-card-subtitle>
      <mb-frequency-response-chart [data]="[sma7]" [settingsPanelVisible]="false"></mb-frequency-response-chart>
    </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle>[settingsPanelVisible]="true"</mat-card-subtitle>
      <mb-frequency-response-chart [data]="[sma7]" [settingsPanelVisible]="true"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <mat-card-title>Save SVG button</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>[saveSvgVisible]="true"</mat-card-subtitle>
      <mb-frequency-response-chart [data]="[sma7]" [settingsPanelVisible]="true" [saveSvgVisible]="true"></mb-frequency-response-chart>
    </mat-card-content>
    <mat-card-content>
      <mat-card-subtitle>[saveSvgVisible]="false"</mat-card-subtitle>
      <mb-frequency-response-chart [data]="[sma7]" [settingsPanelVisible]="true" [saveSvgVisible]="false"></mb-frequency-response-chart>
    </mat-card-content>
  </mat-card>
</div>