<app-d3-sample-d3tc-feed class="sample4" [svgheight]="300" />
<hr />
<app-d3-sample-d3tc-candlesticks class="sample4" [svgheight]="300" />
<hr />
<app-d3-sample-d3tc-ohlc class="sample4" [svgheight]="300" />
<hr />
<app-d3-sample-d3tc-close class="sample4" [svgheight]="300" />
<hr />
<app-d3-sample-d3tc-volume class="sample4" [svgheight]="300" />
<hr />
<app-d3-sample-d3tc-axis-annotations class="sample4" [svgheight]="250" />
<hr />
<app-d3-sample-d3tc-crosshair class="sample4" [svgheight]="250" />
<hr />
<app-d3-sample-d3tc-brush class="sample4" [svgheight]="300" />
<hr />
<app-d3-sample-d3tc-trendlines class="sample4" [svgheight]="300" />
<hr />
<app-d3-sample-d3tc-support-resistance class="sample4" [svgheight]="300" />
<hr />
<app-d3-sample-d3tc-zooming class="sample4" [svgheight]="300" />
<hr />
<app-d3-sample-d3tc-multiple-small-plots class="sample4" [svgheight]="200" />
<hr />
<app-d3-sample-d3tc-trade-arrows class="sample4" [svgheight]="300" />
<hr />
<app-d3-sample-d3tc-arrow class="sample4" [svgheight]="200" />
<hr />
<app-d3-sample-d3tc-finance-time class="sample4" [svgheight]="500" />