<app-d3-sample-brush-handles class="brush-handles" [svgheight]="128"></app-d3-sample-brush-handles>
<br />
<app-d3-sample-brush-handles-2 class="brush-handles" [svgheight]="128"></app-d3-sample-brush-handles-2>
<br />
<app-d3-sample-click-to-recenter-brush class="brush-handles" [svgheight]="128"></app-d3-sample-click-to-recenter-brush>
<br />
<app-d3-sample-click-to-recenter-brush-2 class="brush-handles" [svgheight]="128"></app-d3-sample-click-to-recenter-brush-2>
<br />
<app-d3-sample-click-to-select-all class="brush-handles" [svgheight]="128"></app-d3-sample-click-to-select-all>