// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "styles/_theme-colors-teal-pink.scss" as theme-colors;

$enable-sparkline-theming: false;
$enable-multiline-chart-theming: true;
$enable-ohlcv-chart-theming: true;
$enable-linear-chart-theming: true;
$enable-frequency-response-chart-theming: true;
//@use "../../mb/src/lib/" as mb with ($enable-sparkline-theming: $enable-sparkline-theming);
@use "../../../dist/mb/styles/" as mb with ($enable-sparkline-theming: $enable-sparkline-theming);
//@use "../../../dist/mb/styles/sparkline" as mb-sparkline;

// Styles used by KaTeX.
@use 'katex/dist/katex.css' as *;

// Include material symbols fonts.
@use 'material-symbols' with ($material-symbols-font-path: 'material-symbols/'
);

/*@use 'roboto-fontface/css/roboto/sass/roboto-fontface' with (
  $roboto-font-path: 'roboto-fontface/fonts'
);*/

@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource/roboto/scss" as Roboto;
@include fontsource.faces($metadata: Roboto.$metadata);

:root {
  // This will use 'prefers-color-scheme' to automatically set the initial light-dark mode.
  color-scheme: light dark;

  // Only apply the static theme if no dynamic theme is saved in local storage
  // See index.html where this check is made.
  &:not([has-dynamic-theme]) {
    @include mat.theme((color: ( //primary: mat.$green-palette,
          //tertiary: mat.$violet-palette,
          primary: theme-colors.$primary-palette,
          tertiary: theme-colors.$tertiary-palette,
        ),
        typography: Roboto,
        density: 0,
      ));

    // Use high contrast values when users prefer contrast
    @media (prefers-contrast: more) {
      @include theme-colors.high-contrast-overrides(color-scheme);
    }
  }

  &[has-dynamic-theme] {
    // Apply base theme structure without colors
    @include mat.theme((typography: Roboto,
        density: 0,
      ));
  }

  @if $enable-sparkline-theming {
    @debug ("sparkline theming enabled, including mb.sparkline-overrides");
    //@include mb-sparkline.sparkline-overrides((
    @include mb.sparkline-overrides((
      stroke-width: 0px,
      stroke-color: var(--mat-sys-tertiary),
      fill-color: var(--mat-sys-tertiary),
    ));
  }

  @if $enable-multiline-chart-theming {
    @include mb.multiline-overrides((
      axis-color: var(--mat-sys-secondary),
      grid-color: var(--mat-sys-secondary),
      grid-opacity: 0.5,
    ));
  }

  @if $enable-ohlcv-chart-theming {
    @include mb.ohlcv-chart-overrides((
      axis-color: var(--mat-sys-secondary),
      crosshair-annotation-background: var(--mat-sys-secondary-container),
      crosshair-annotation-color: var(--mat-sys-on-secondary-container),
      legend-color: var(--mat-sys-secondary),
      legend-font-family: var(--mat-sys-label-small-font),
      legend-font-size: var(--mat-sys-label-small-size),
      control-panel-variant-color: var(--mat-sys-tertiary),
      control-panel-on-variant-color: var(--mat-sys-on-tertiary),
      control-panel-variant-container-color: var(--mat-sys-tertiary-container),
      control-panel-on-variant-container-color: var(--mat-sys-on-tertiary-container),
    ));
  }

  @if $enable-linear-chart-theming {
    @include mb.linear-chart-overrides((
      axis-color: var(--mat-sys-secondary),
      crosshair-annotation-background: var(--mat-sys-secondary-container),
      crosshair-annotation-color: var(--mat-sys-on-secondary-container),
      legend-color: var(--mat-sys-secondary),
      legend-font-family: var(--mat-sys-label-small-font),
      legend-font-size: var(--mat-sys-label-small-size),
      control-panel-variant-color: var(--mat-sys-tertiary),
      control-panel-on-variant-color: var(--mat-sys-on-tertiary),
      control-panel-variant-container-color: var(--mat-sys-tertiary-container),
      control-panel-on-variant-container-color: var(--mat-sys-on-tertiary-container),
    ));
  }

  @if $enable-frequency-response-chart-theming {
    @include mb.frequency-response-chart-overrides((
      axis-color: var(--mat-sys-secondary),
      label-color: var(--mat-sys-secondary),
      legend-color: var(--mat-sys-secondary),
      coords-color: var(--mat-sys-on-tertiary),
      control-panel-variant-color: var(--mat-sys-tertiary),
      control-panel-on-variant-color: var(--mat-sys-on-tertiary),
      control-panel-variant-container-color: var(--mat-sys-tertiary-container),
      control-panel-on-variant-container-color: var(--mat-sys-on-tertiary-container),
    ));
  }
}

// Body style.
html,
body {
  height: 100%;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.note {
  margin: 0 16px;
}

// External references. Uses hardcoded primary color.

a:link {
  color: var(--mat-sys-primary);
}

a:visited {
  color: var(--mat-sys-primary);
}

a[href^="http"]:after {
  content: '';
  background: no-repeat left .25em center url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="-24 -24 48 48"> \
      <defs> \
          <mask id="corner"> \
              <rect fill="white" x="-24" y="-24" width="48" height="48"></rect> \
              <rect fill="black" x="2" y="-24" width="22" height="26"></rect> \
          </mask> \
      </defs> \
      <g fill="%23009688" stroke="%23009688" stroke-width="4"> \
          <rect x="-20" y="-16" width="32" height="32" rx="7" ry="7" stroke-width="3" fill="none" mask="url(%23corner)"/> \
          <g transform="translate(1,0)" stroke-linecap="square"> \
              <line x1="0" y1="0" x2="17" y2="-17" stroke-width="6"/> \
              <polygon points="21 -21, 21 -8, 8 -21" stroke-linejoin="round" stroke-width="3"/> \
           </g> \
       </g> \
  </svg>');
  padding-right: 1.5em;
}

// Bibliography

.citation {
  margin-left: 0.7cm;
  text-indent: -0.7cm;
  padding: 0px 5px;
  display: inline-block;
  width: calc(100% - 1cm);
  word-break: break-word;
  line-height: 180%;
  user-select: none;
}

// Quotes

q {
  quotes: '\201c' '\201d' '\2018' '\2019';
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

// Figures

body {
  counter-reset: cntFig;
}

figure {
  counter-increment: cntFig;
}

figure figcaption:before {
  content: "Figure " counter(cntFig) ".";
  font-weight: bold;
  padding-right: 0.5em;
}

figure img {
  width: 100%;
  object-fit: cover;
}

figure.figleft {
  float: left;
  width: 38.1966%; // 1 - 1 / phi
  max-width: 250px;
  margin: 1em 1.2em 0.5em 0;
}

figure.figright {
  float: right;
  width: 38.1966%; // 1 - 1 / phi
  max-width: 250px;
  margin: 1em 0 0.5em 1.2em;
}

figure.figwide {
  width: 100%;
  margin: 1em auto;
}