<div class="sample">

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Chirp parameters</mat-card-title>
    </mat-card-header>
    <br/>
    <mat-card-content>
      <mb-data-generators-chirp-parameters [chirpParameters]="initial" (parametersChange)="paramsChanged($event)" />
    </mat-card-content>
    <mat-card-content>
      Current parameters: <pre>{{current | json}}</pre>
    </mat-card-content>
    <br/>
    <mat-card-content>
      <mb-multiline [data]="[data]" [configuration]="configLine" [valueAxis]="['grid']" [width]="'90%'" [height]="300" class="multiline"/>
    </mat-card-content>
    <mat-card-content>
      {{moniker}}
    </mat-card-content>
  </mat-card>

</div>