<h1>{{frNote.title}}</h1>

<p>
    What is a digital filter? It is simply a computation that takes a sequence of numbers (the input signal) and
    produces a new sequence of output numbers (the output signal).
</p>
<p>
    Presuming that every digital signal can be approximated by a superposition of periodic functions (e.g.,
    sinusoidal with increasing frequencies) with the amplitude and the phase parameters, a digital filter changes the
    values of these parameters. So we can plot the changes in the amplitude and the phase on a chart, depending on the
    frequency.
</p>
<p>
    What are the highest and the lowest frequency we should plot on a chart? To illustrate this, let's consider a
    discrete time series of daily weather temperature measurements, which represent 24-hour averages. Such data cannot
    provide information about variation in the data at a timescale less than 24 hours. We cannot learn from this data
    that it's always hotter at 4 PM than at 4 AM.
    <figure class="figleft">
        <img src="assets/photos/nyquist1.gif">
        <figcaption>Harry Nyquist, 1889-1976 (Brittain 2010).</figcaption>
    </figure>
</p>
<p>
    If we have <mb-ki>n</mb-ki> observations, than the lowest frequency is simply <mb-ki>{{"\\frac{1}{n}"}}</mb-ki>
    or <mb-ki>1</mb-ki> cycle per <mb-ki>n</mb-ki> samples. This corresponds to the period of <mb-ki>n</mb-ki> data
    points. On the other side of the spectrum the most number of cycles we can observe in the time series is
    <mb-ki>{{"\\frac{n}{2}"}}</mb-ki>, or one cycle per every other data point (since a minimum of two points are
    required to even sketch a sine wave — one point for the peak and one point for the trough). In other words, the
    highest frequency about which data can inform us is <mb-ki>{{"\\frac{1}{2}"}}</mb-ki>, which corresponds to the
    period of <mb-ki>2</mb-ki> data points. In digital signal processing, this frequency is called the <em>Nyquist
    frequency</em> and is related to the <em>Nyquist-Shannon sampling theorem.</em>
    <figure class="figright">
        <img src="assets/photos/shannon2.webp">
        <figcaption>Claude Shannon, 1916-2001 (soni goodman 2021).</figcaption>
    </figure>
</p>
<p>
    Claude Shannon's original formulation of the theorem is (Shannon 1984):
</p>
<p>
    <q>
        If a function <mb-ki>f(t)</mb-ki> contains no frequencies higher than <mb-ki>W</mb-ki> cps, it is completely
        determined by giving its ordinates at a series of points spaced <mb-ki>{{"\\frac{1}{2W}"}}</mb-ki> seconds
        apart.
    </q>
</p>
<mb-frequency-response-chart [data]="[sma2,sma6]"></mb-frequency-response-chart>
<p></p>

<figure class="figwide">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0px" style="width:100%">
        <mb-frequency-response-chart [subfig]="'(a)'" [width]="'50%'" [height]="200" [ymode]="'amplitudePct'" [data]="[identity]"></mb-frequency-response-chart>
        <mb-frequency-response-chart [subfig]="'(b)'" [width]="'50%'" [height]="200" [ymode]="'phaseDeg'" [data]="[identity]"></mb-frequency-response-chart>
    </div>
    <figcaption>The amplitude (a) and the plase (b) charts of the identity filter.</figcaption>
</figure>

<figure class="figwide">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0px" style="width:100%">
        <mb-frequency-response-chart [subfig]="'(a)'" [width]="'50%'" [height]="200" [ymode]="'amplitudeDb'" [data]="[sma2, sma3]"></mb-frequency-response-chart>
        <mb-frequency-response-chart [subfig]="'(b)'" [width]="'50%'" [height]="200" [ymode]="'amplitudePct'" [data]="[sma2, sma3]"></mb-frequency-response-chart>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0px" style="width:100%">
        <mb-frequency-response-chart [subfig]="'(c)'" [width]="'50%'" [height]="200" [ymode]="'powerDb'" [data]="[sma2, sma3]"></mb-frequency-response-chart>
        <mb-frequency-response-chart [subfig]="'(d)'" [width]="'50%'" [height]="200" [ymode]="'powerPct'" [data]="[sma2, sma3]"></mb-frequency-response-chart>
    </div>
    <figcaption>A power in decibels (a) and in percents (b), and an amplitude in decibels (c) and in percents (d).</figcaption>
</figure>

<figure class="figwide">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0px" style="width:100%">
        <mb-frequency-response-chart [subfig]="'(a)'" [width]="'50%'" [height]="200" [ymode]="'amplitudePct'" [xmode]="'frequency'" [data]="[sma2, sma3]"></mb-frequency-response-chart>
        <mb-frequency-response-chart [subfig]="'(b)'" [width]="'50%'" [height]="200" [ymode]="'amplitudePct'" [xmode]="'period'" [maxPeriod]="15" [data]="[sma2, sma3]"></mb-frequency-response-chart>
    </div>
    <figcaption>An amplitude as a function of a normalized frequency (a) and a period (b).</figcaption>
</figure>

<figure class="figwide">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0px" style="width:100%">
        <mb-frequency-response-chart [subfig]="'(a)'" [width]="'50%'" [height]="200" [ymode]="'phaseDeg'" [xmode]="'frequency'" [data]="[sma2, sma3]"></mb-frequency-response-chart>
        <mb-frequency-response-chart [subfig]="'(b)'" [width]="'50%'" [height]="200" [ymode]="'phaseDeg'" [xmode]="'period'" [maxPeriod]="15" [data]="[sma2, sma3]"></mb-frequency-response-chart>
    </div>
    <figcaption>A phase difference as a function of a normalized frequency (a) and a period (b).</figcaption>
</figure>

<h1>Bibliography</h1>

<!-- @article{Brittain_2010 -->
<div class="citation">
    Brittain, J. E. (2010). Electrical Engineering Hall of Fame: Harry Nyquist [Scanning Our Past]. <i>Proceedings of
        the IEEE</i>, <i>98</i>(8), 1535–1537. https://doi.org/10.1109/JPROC.2010.2050378 <a
        href="https://doi.org/10.1109/JPROC.2010.2050378" target="_blank" rel="noopener noreferrer"></a>
</div>

<!-- @inproceedings{Shannon_CommunicationinthePresenceofNoise_1984 -->
<div class="citation">
    Shannon, C. E. (1984). Communication in the presence of noise. <i>Proceedings of the IEEE</i>, <i>72</i>, 1192-1201.
    <a href="http://ieeexplore.ieee.org/xpls/abs\_all.jsp?arnumber=1457266" target="_blank"
        rel="noopener noreferrer"></a>
</div>

<!-- @misc{soni_goodman_2021 -->
<!-- shannon1.webp, shannon2.webp -->
<div class="citation">
    Soni, J., &amp; Goodman, R. (2021). <i>A man in a hurry: Claude Shannon's New York years</i>. IEEE Spectrum.
    Retrieved August 14, 2022, from https://spectrum.ieee.org/a-man-in-a-hurry-claude-shannons-new-york-years <a
        href="https://spectrum.ieee.org/a-man-in-a-hurry-claude-shannons-new-york-years" target="_blank"
        rel="noopener noreferrer"></a>
</div>
