<!-- '$event.target.value = null;' resets the file input, otherwise you cannot load the same file twice -->
<p>
  <button mat-mini-fab class="alert-fab">
    <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
  </button>

  <button mat-mini-fab class="tertiary-fab">
    <mat-icon fontSet="material-symbols-outlined">undo</mat-icon>
  </button>
  <!--button matButton="filled" class="alert-button">
    <mat-icon fontSet="material-symbols-outlined">undo</mat-icon>
  </button>
  <button matButton="tonal" class="alert-button">
    <mat-icon fontSet="material-symbols-outlined">undo</mat-icon>
  </button-->

  <button mat-mini-fab class="primary-fab">
    <mat-icon fontSet="material-symbols-outlined">done</mat-icon>
  </button>
  <button mat-mini-fab class="alert-fab">
    <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
  </button>
</p>
<p class="alert mtop limitwidth">The very long error text</p>
<input hidden type="file" #fileInput (change)="selectedFile($event.target.files); $event.target.value = null;"
  accept=".csv, .csv.gz" />
  <div>
    <button mat-mini-fab class="alert-fab" (click)="fileInput.click()">
      <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
    </button>
    @if (filePath.length > 0) {
      <span class="selected-file-name">{{filePath}}</span>
    }
  </div>
  @if (filePath.length > 0) {
    <div class="selected-file-size">{{fileBytes|filesize}}, {{fileType}}</div>
  }
  @if (progressVisible) {
    <mat-progress-bar color="accent" mode="indeterminate" [value]="progressPercentage" class="mtop" />
  }
  @if (errorText.length > 0) {
    <div class="alert mtop limitwidth">{{errorText}}</div>
    <button mat-mini-fab class="alert-fab mtop" (click)="clear()">
      <mat-icon fontSet="material-symbols-outlined">undo</mat-icon>
    </button>
  }
  @if (data().length > 0) {
    <div class="mtop">
      {{data.length}} <i>{{granularity}}</i> {{entity}}
      ({{data()[0].time|date}} to {{data()[data().length-1].time|date}})
    </div>
    <div class="mtop"></div>
    <mb-multiline [width]="360" [height]="'50%width'" [configuration]="[configMultiline]" [data]="[data]" [min]="0"
      [timeAxis]="['bottom']" [valueAxis]="['grid']" />
    <div class="mtop">
      <mat-form-field>
        <input matInput type="text" minlength="1" maxlength="16" size="16" placeholder="mnemonic"
          [(ngModel)]="mnemonic">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="fullwidth">
          <textarea matInput minlength="1" placeholder="description" rows="1" [(ngModel)]="description"></textarea>
        </mat-form-field>
      </div>
      <button mat-mini-fab class="primary-fab" (click)="add()">
        <mat-icon fontSet="material-symbols-outlined">done</mat-icon>
      </button>
      <button mat-mini-fab class="alert-fab mleft" (click)="clear()">
        <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
      </button>
  }