@use "@angular/material" as mat;

:host {
  .primary-fab {
    @include mat.fab-overrides(
      (
        small-container-color: var(--mat-sys-primary-container),
        small-foreground-color: var(--mat-sys-on-primary-container),
      )
    )
  }
  .tertiary-fab {
    @include mat.fab-overrides(
      (
        small-container-color: var(--mat-sys-tertiary-container),
        small-foreground-color: var(--mat-sys-on-tertiary-container),
      )
    )
  }
  .alert-fab {
    @include mat.fab-overrides(
      (
        small-container-color: var(--mat-sys-error-container),
        small-foreground-color: var(--mat-sys-on-error-container),
      )
    )
  }
  .alert-button {
    @include mat.button-overrides(
      (
        filled-container-color: var(--mat-sys-error-container),
        filled-label-text-color: var(--mat-sys-on-error-container),
        tonal-container-color: var(--mat-sys-error-container),
        tonal-label-text-color: var(--mat-sys-on-error-container),
      )
    )
  }

  .alert {
    color: var(--mat-sys-error);
  }

  .selected-file-name {
    margin-left: 8px;
  }

  .selected-file-size {
    margin-left: 48px;
  }

  .mtop {
    margin-top: 4px;
  }

  .limitwidth {
    max-width: 360px;
    overflow-wrap: break-word;
  }

  .fullwidth {
    width: 100%;
  }

  .mleft {
    margin-left: 8px;
  }
}