<mat-form-field style="width:330px">
  @if (labelText.length > 0) {
    <mat-label>{{labelText}}</mat-label>
  }
  <mat-select style="margin-top: 8px;" [value]="selected()" (selectionChange)="changed($event.value)">
    <mat-select-trigger>
      @if (selected(); as selectedSeries) {
        <mb-sparkline [width]="160" [height]="24" [data]="selectedSeries.data" [configuration]="configFill()" />
        {{selectedSeries.mnemonic}}
      }
    </mat-select-trigger>
    @for (series of seriesArray(); track series.data) {
      <mat-option [value]="series">
        <mb-sparkline [width]="160" [height]="24" [data]="series.data" [configuration]="configFill()" />
        {{series.mnemonic}}
      </mat-option>
    }
  </mat-select>
</mat-form-field>