<div class="sample">

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-jurik-moving-average-params [initial]="initial1" (selectionChange)="selected1 = $event;">
      </mb-jurik-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected1 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>With initials: no quote component</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-jurik-moving-average-params [initial]="initial2" (selectionChange)="selected2 = $event;">
      </mb-jurik-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected2 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>With initials: no bar component</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-jurik-moving-average-params [initial]="initial3" (selectionChange)="selected3 = $event;">
      </mb-jurik-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected3 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>With initials: no bar no quote</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-jurik-moving-average-params [initial]="initial4" (selectionChange)="selected4 = $event;">
      </mb-jurik-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected4 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>With initials: both bar and quote</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-jurik-moving-average-params [initial]="initial5" (selectionChange)="selected5 = $event;">
      </mb-jurik-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected5 | json}}</pre>
    </mat-card-content>
  </mat-card>

</div>