.toolbar {
    padding: 0px;
    vertical-align: middle;
    margin-top: -16px;
}

.tags {
    margin-top: 0px;
}

.search {
    margin-top: 18px;
}

.fullwidth {
    width: 98%;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.check {
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin-right: 4px;
}