<h1>{{emaNote.title}}</h1>

<mat-slide-toggle class="slide-toggle" [color]="'primary'" [(ngModel)]="unLocked">
  <mat-icon class="icon">tune</mat-icon>
</mat-slide-toggle>
<app-bar-series-select label="" (selectionChange)="dataSelectionChanged($event)">
</app-bar-series-select>

<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configuration"></mb-ohlcv-chart>

  @if (unlocked) {
    <mat-expansion-panel expanded="false" style="margin-bottom: 1em;">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon>tune</mat-icon></mat-panel-title>
      </mat-expansion-panel-header>
      <mb-swatches-select style="vertical-align: bottom;" [selected]="selectedIndex" [colors]="palettes"
        (selectionChange)="indicatorPaletteChanged($event);" [label]="'Palette'">
      </mb-swatches-select>
      <app-kama-list [initialLength]="initialIndicators" [colors]="selectedPalette"
        (changed)="indicatorsChanged($event);">
      </app-kama-list>
    </mat-expansion-panel>
  }

  <figcaption>{{dataSelection.description}}. @if (dataSelection.url) {
    <span><a href="{{dataSelection.url}}" target="_blank">{{dataSelection.urlName}}</a></span>
  }</figcaption>
</figure>
<p></p>

<div style="width:100%">
  A Kaufman Adaptive Moving Average (KAMA), is defined as
  <mb-kd>
    {{"\\tag*{(1)}kama_{k}=\\alpha x_{k} + (1-\\alpha)kama_{k-1}"}}
  </mb-kd>
  <p></p>
  From the digital signal processing (DSP) point of view, the KAMA is an infinite impulse response (IIR)
  filter wich uses all previouse input samples.
  <p></p>
</div>

<h2>Step response</h2>
<div style="width:100%">
  Two figures below demonstrate the response to the step-up and step-down data.
  The transition is clearly not linear.
  The step-up response doesn't overshoot and the step-down response doesn't undershoot the data.
</div>

<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationStepUp"></mb-ohlcv-chart>
  <figcaption>Step-up response.</figcaption>
</figure>
<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationStepDn"></mb-ohlcv-chart>
  <figcaption>Step-down response.</figcaption>
</figure>
<p></p>

<div style="width:100%">
  The step response of the KAMA cannot be derived analytically.
  <p></p>
</div>

<h2>Frequency response</h2>
<div style="width:100%">
  The figures below show an amplitude and a phase lag of the unit sample response of the KAMA as a function
  of a period of various signal frequencies.
  <p></p>
  A period is a duration of a cycle in samples.
  The smallest possible period of a cycle is <mb-ki>{{"2"}}</mb-ki> samples.
  To understand this, imagine a cycle of a sinusoid which starts at zero, goes up and peaks at <mb-ki>{{"1"}}</mb-ki>,
  continues down and bottoms at <mb-ki>{{"-1"}}</mb-ki>, and then returns back to zero.
  We need at least two samples (peak and through) to represent a cycle.
  See more details in the <a href="/{{froaiNote.route}}">{{froaiNote.title}}</a>.
  <p></p>
</div>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="freqsH" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="maxPeriod" [data]="freqs"
  [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="freqsH" [ymode]="'phaseDegUnwrapped'" [xmode]="'period'"
    [maxPeriod]="maxPeriod" [minDeg]="-180" [maxDeg]="180" [data]="freqs"
  [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>

  @if (unlocked) {
    <mat-expansion-panel expanded="false" style="margin-bottom: 1em;">
      <mat-expansion-panel-header>
        <mat-panel-title><mat-icon>tune</mat-icon></mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill">
        <mat-label>Max period to display</mat-label>
        <input matInput type="number" min="8" max="1024" step="1" [(ngModel)]="maxPeriod">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Height</mat-label>
        <input matInput type="number" min="100" max="1024" step="1" [(ngModel)]="freqsH">
      </mat-form-field>
      <app-kama-list [initialLength]="initialFreqs" (changed)="freqsChanged($event);"></app-kama-list>
    </mat-expansion-panel>
  }

  <figcaption>An amplitude (a) and a phase lag (b) as a function of a period of a cycle.</figcaption>
</figure>
<p></p>

<div style="width:100%">
  The same charts can be represented as a function of a cycle's frequency.
  A period (<mb-ki>{{"\\tau"}}</mb-ki>) is an inverse of the cycle's frequency
  (<mb-ki>{{"\\nu"}}</mb-ki>): <mb-ki>{{"\\tau = \\frac{1}{\\nu}"}}</mb-ki>.
  The smallest period <mb-ki>{{"\\tau = 2"}}</mb-ki> corresponds to the Nyquist frequency
  <mb-ki>{{"\\nu = \\frac{1}{\\tau} = \\frac{1}{2}"}}</mb-ki>which is the highest frequency
  possible in a signal. Below we use the normalized frequency which has the value of <mb-ki>{{"1"}}</mb-ki>
  at the Nyquist frequency.
  That is, <mb-ki>{{"0"}}</mb-ki> corresponds to the infinite <mb-ki>{{"\\tau"}}</mb-ki>,
  <mb-ki>{{"1"}}</mb-ki> corresponds to the <mb-ki>{{"\\tau = 2"}}</mb-ki>.
  <p></p>
</div>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="40" [data]="[kama2, kama5, kama10, kama20]"
  [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [data]="[kama2, kama5, kama10, kama20]"
  [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>An amplitude as a function of a period of a cycle (a) and as a function of a normalized frequency of a cycle (b) for various KAMA lengths.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'period'" [maxPeriod]="40" [minDeg]="-70" [maxDeg]="20" [data]="[kama2, kama5, kama10, kama20]"
  [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'frequency'" [minDeg]="-70" [maxDeg]="20" [data]="[kama2, kama5, kama10, kama20]"
  [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>A phase as a function of a period of a wave (a) and as a function of a normalized frequency of a wave for various KAMA lengths.</figcaption>
</figure>
<p></p>

<div style="width:100%">
  The frequency response of the KAMA cannot be derived analytically.
  <p></p>
</div>

<div style="width:100%">
</div>
<hr />
<h2 class="counter-skip">References</h2>
<div><!-- @Book Jeffrey2008 --> Jeffrey, A., &amp; Dai, H. H. (2008).
  <em>Handbook of mathematical formulas and integrals</em>. (4th ed., p. 592). San Diego, CA: Elsevier/Academic Press.
  <a href="https://books.google.com/books?id=JokQD5nK4LMC" target="_blank">google books</a>
</div>
<div><!-- @Book Mak2006 -->Mak, D. K. (2006).
  <em>Mathematical Techniques in Financial Market Trading</em> (p. 320).
  doi:10.1142/6055
  <a href="https://books.google.com/books?id=18fICgAAQBAJ" target="_blank">google books</a>
</div>
<div><!-- @Book Oppenheim2009 -->Oppenheim, A. V., Schafer, R. W., Yoder, M. A., &amp; Padgett, W. T. (2009).
  <em>Discrete-time signal processing</em>. (3rd ed., p. 1120). Upper Saddle River, NJ: Pearson.
  <a href="https://books.google.com/books?id=EaMuAAAAQBAJ" target="_blank">google books</a>
</div>
