<div class="sample">

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default ℓ</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-mesa-adaptive-moving-average-params [initial]="initial1" (selectionChange)="selected1 = $event;">
      </mb-mesa-adaptive-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected1 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default α</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-mesa-adaptive-moving-average-params [initial]="initial2" (selectionChange)="selected2 = $event;">
      </mb-mesa-adaptive-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected2 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default ℓ with estimator</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-mesa-adaptive-moving-average-params [initial]="initial3" (selectionChange)="selected3 = $event;">
      </mb-mesa-adaptive-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected3 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default α with estimator</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-mesa-adaptive-moving-average-params [initial]="initial4" (selectionChange)="selected4 = $event;">
      </mb-mesa-adaptive-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected4 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default ℓ with estimator, bar</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-mesa-adaptive-moving-average-params [initial]="initial5" (selectionChange)="selected5 = $event;">
      </mb-mesa-adaptive-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected5 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default α with estimator, bar</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-mesa-adaptive-moving-average-params [initial]="initial6" (selectionChange)="selected6 = $event;">
      </mb-mesa-adaptive-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected6 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default ℓ with estimator, quote</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-mesa-adaptive-moving-average-params [initial]="initial7" (selectionChange)="selected7 = $event;">
      </mb-mesa-adaptive-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected7 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default α with estimator, quote</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-mesa-adaptive-moving-average-params [initial]="initial8" (selectionChange)="selected8 = $event;">
      </mb-mesa-adaptive-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected8 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default ℓ with estimator, bar, quote</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-mesa-adaptive-moving-average-params [initial]="initial9" (selectionChange)="selected9 = $event;">
      </mb-mesa-adaptive-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected9 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default α with estimator, bar, quote</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-mesa-adaptive-moving-average-params [initial]="initial10" (selectionChange)="selected10 = $event;">
      </mb-mesa-adaptive-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected10 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default ℓ with estimator, params, bar, quote</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-mesa-adaptive-moving-average-params [initial]="initial11" (selectionChange)="selected11 = $event;">
      </mb-mesa-adaptive-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected11 | json}}</pre>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Default α with estimator, params, bar, quote</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mb-mesa-adaptive-moving-average-params [initial]="initial12" (selectionChange)="selected12 = $event;">
      </mb-mesa-adaptive-moving-average-params>
    </mat-card-content>
    <mat-card-content>
      Selected: <pre>{{selected12 | json}}</pre>
    </mat-card-content>
  </mat-card>
</div>