<div class="sample">

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Parametric procedural palette</mat-card-title>
      <mat-card-subtitle>
        <mat-form-field appearance="fill">
          <mat-label>Select number of swatches</mat-label>
          <input matInput type="number" min="2" max="60" [(ngModel)]="generatedPaletteLength">
        </mat-form-field>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mb-katex [expression]="katex1"></mb-katex>
      <mb-katex [expression]="katex2"></mb-katex>
      <mb-katex [expression]="katex3"></mb-katex>
    </mat-card-content>
    <mat-card-content>
      <br/>
      <mb-swatches [width]="260" [height]="32" [colors]="generatedPalette"></mb-swatches>
    </mat-card-content>
    <mat-card-content>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>a [{{a1}}, {{a2}}, {{a3}}]</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-slider [min]="0" [step]="0.01" [max]="1" discrete color="primary">
          <input matSliderThumb [value]="a1" (valueChange)="a1=ngSliderThumbA1.value;" #ngSliderThumbA1="matSliderThumb" />
        </mat-slider>
        <mat-slider [min]="0" [step]="0.01" [max]="1" discrete color="primary">
          <input matSliderThumb [value]="a2" (valueChange)="a2=ngSliderThumbA2.value;" #ngSliderThumbA2="matSliderThumb" />
        </mat-slider>
        <mat-slider [min]="0" [step]="0.01" [max]="1" discrete color="primary">
          <input matSliderThumb [value]="a3" (valueChange)="a3=ngSliderThumbA3.value;" #ngSliderThumbA3="matSliderThumb" />
        </mat-slider>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>b [{{b1}}, {{b2}}, {{b3}}]</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-slider [min]="0" [step]="0.01" [max]="1" discrete color="primary">
          <input matSliderThumb [value]="b1" (valueChange)="b1=ngSliderThumbB1.value;" #ngSliderThumbB1="matSliderThumb" />
        </mat-slider>
        <mat-slider [min]="0" [step]="0.01" [max]="1" discrete color="primary">
          <input matSliderThumb [value]="b2" (valueChange)="b2=ngSliderThumbB2.value;" #ngSliderThumbB2="matSliderThumb" />
        </mat-slider>
        <mat-slider [min]="0" [step]="0.01" [max]="1" discrete color="primary">
          <input matSliderThumb [value]="b3" (valueChange)="b3=ngSliderThumbB3.value;" #ngSliderThumbB3="matSliderThumb" />
        </mat-slider>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>c [{{c1}}, {{c2}}, {{c3}}]</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-slider [min]="0" [step]="0.01" [max]="1" discrete color="primary">
          <input matSliderThumb [value]="c1" (valueChange)="c1=ngSliderThumbC1.value;" #ngSliderThumbC1="matSliderThumb" />
        </mat-slider>
        <mat-slider [min]="0" [step]="0.01" [max]="1" discrete color="primary">
          <input matSliderThumb [value]="c2" (valueChange)="c2=ngSliderThumbC2.value;" #ngSliderThumbC2="matSliderThumb" />
        </mat-slider>
        <mat-slider [min]="0" [step]="0.01" [max]="1" discrete color="primary">
          <input matSliderThumb [value]="c3" (valueChange)="c3=ngSliderThumbC3.value;" #ngSliderThumbC3="matSliderThumb" />
        </mat-slider>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>d [{{d1}}, {{d2}}, {{d3}}]</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-slider [min]="0" [step]="0.01" [max]="1" discrete color="primary">
          <input matSliderThumb [value]="d1" (valueChange)="d1=ngSliderThumbD1.value;" #ngSliderThumbD1="matSliderThumb" />
        </mat-slider>
        <mat-slider [min]="0" [step]="0.01" [max]="1" discrete color="primary">
          <input matSliderThumb [value]="d2" (valueChange)="d2=ngSliderThumbD2.value;" #ngSliderThumbD2="matSliderThumb" />
        </mat-slider>
        <mat-slider [min]="0" [step]="0.01" [max]="1" discrete color="primary">
          <input matSliderThumb [value]="d3" (valueChange)="d3=ngSliderThumbD3.value;" #ngSliderThumbD3="matSliderThumb" />
        </mat-slider>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-header>
      <mat-card-title>Examples</mat-card-title>
      <mat-card-subtitle>
        <mat-form-field appearance="fill">
          <mat-label>Select number of swatches</mat-label>
          <input matInput type="number" min="2" max="60" [(ngModel)]="generatedPalettesLength">
        </mat-form-field>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      @for (s of generatedPalettes; track s) {
        <span>
          <div><mb-swatches [width]="260" [height]="32" [colors]="s"></mb-swatches></div>
        </span>
      }
    </mat-card-content>
  </mat-card>

</div>