<!-- '$event.target.value = null;' resets the file input, otherwise you cannto load the same file twice -->
<input hidden type="file" #fileInput (change)="selectedFile($event.target.files); $event.target.value = null;"
    accept=".csv, .csv.gz" />
<div>
    <button mat-button color="primary" mat-mini-fab (click)="fileInput.click()">
        <mat-icon>attachment</mat-icon>
    </button>
    <ng-container *ngIf="filePath.length > 0">
        <span class="selected-file-name">{{filePath}}</span>
    </ng-container>
</div>
<ng-container *ngIf="filePath.length > 0">
    <div class="selected-file-size">{{fileBytes|filesize}}, {{fileType}}</div>
</ng-container>
<ng-container *ngIf="progressVisible">
    <mat-progress-bar color="accent" mode="indeterminate" [value]="progressPercentage" class="mtop"></mat-progress-bar>
</ng-container>
<ng-container *ngIf="errorText.length > 0">
    <div class="warn mtop limitwidth">{{errorText}}</div>
</ng-container>
<ng-container *ngIf="barData.length > 0">
    <div class="mtop">
        {{barData.length}} <span class="accent">{{granularity}}</span> bars
        ({{barData[0].time|date}} to {{barData[barData.length-1].time|date}})
    </div>
    <div class="mtop"></div>
    <mb-multiline [width]="360" [height]="'50%width'" [configuration]="[configMultiline]" [data]="[barData]" [min]="0"
        [timeAxis]="['bottom']" [valueAxis]="['grid']">
    </mb-multiline>
    <div class="mtop">
        <mat-form-field>
            <input matInput type="text" minlength="1" maxlength="16" size="16" placeholder="mnemonic"
                [(ngModel)]="mnemonic">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="fullwidth">
            <textarea matInput minlength="1" placeholder="description" rows="1" [(ngModel)]="description"></textarea>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="add()">
        <mat-icon>add_library</mat-icon>
    </button>
    <button mat-raised-button color="warn" class="mleft" (click)="clear()">
        <mat-icon>backspace</mat-icon>
    </button>
</ng-container>