@import '../../../../../styles.scss';

.primary {
    color: $primary;
}

.accent {
    color: $accent;
}

.warn {
    color: $warn;
}

.selected-file-name {
    margin-left: 8px;
}

.selected-file-size {
    margin-left: 48px;
}

.mtop {
    margin-top: 4px;
}

.limitwidth {
    max-width: 360px;
    overflow-wrap: break-word;
}

.fullwidth {
    width: 100%;
}

.mleft {
    margin-left: 8px;
}