<mat-toolbar class="header">
  <button mat-button class="sidenav-toggle" (click)="sidenav.toggle()">
    <mat-icon fontSet="material-symbols-outlined">{{ sidenav.opened ? 'menu_open' : 'menu' }}</mat-icon>
  </button>
  <span>{{headerPrefix()}}: {{sample?.header ? sample?.header : '???'}}</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="mat-elevation-z8" mode="push" fixedInViewport="false" opened="false">
    <mat-tree #tree class="tree" [dataSource]="treeNodes()" [childrenAccessor]="childrenAccessor">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="tree-leaf-node">
        <button class="tree-item" mat-button 
          [routerLink]="routePrefix() + node.route" 
          routerLinkActive="sidenav-item-selected"
          (click)="sample = node; sidenav.close();"
          [attr.aria-label]="node.name"
          [title]="node.header || node.name">
          {{node.name}}
        </button>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
        [cdkTreeNodeTypeaheadLabel]="node.name" class="tree-parent-node">
        <button matIconButton matTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.name"
          [attr.aria-expanded]="tree.isExpanded(node)">
          <mat-icon fontSet="material-symbols-outlined" class="mat-icon-rtl-mirror">
            {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <span class="node-label">{{node.name}}</span>
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>