@use "@angular/material" as mat;

:host {
  @include mat.fab-overrides((
    small-container-color: var(--mat-sys-primary-container),
    small-foreground-color: var(--mat-sys-on-primary-container),
  ));

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    cursor: pointer;
    opacity: 50%;
  }
}
