<app-d3-techan-d3tc-feed class="sample" [svgheight]="300" />
<hr />
<app-d3-techan-d3tc-candlesticks class="sample" [svgheight]="300" />
<hr />
<app-d3-techan-d3tc-ohlc class="sample" [svgheight]="300" />
<hr />
<app-d3-techan-d3tc-close class="sample" [svgheight]="300" />
<hr />
<app-d3-techan-d3tc-volume class="sample" [svgheight]="300" />
<hr />
<app-d3-techan-d3tc-axis-annotations class="sample" [svgheight]="250" />
<hr />
<app-d3-techan-d3tc-crosshair class="sample" [svgheight]="250" />
<hr />
<app-d3-techan-d3tc-brush class="sample" [svgheight]="300" />
<hr />
<app-d3-techan-d3tc-trendlines class="sample" [svgheight]="300" />
<hr />
<app-d3-techan-d3tc-support-resistance class="sample" [svgheight]="300" />
<hr />
<app-d3-techan-d3tc-zooming class="sample" [svgheight]="300" />
<hr />
<app-d3-techan-d3tc-multiple-small-plots class="sample" [svgheight]="200" />
<hr />
<app-d3-techan-d3tc-trade-arrows class="sample" [svgheight]="300" />
<hr />
<app-d3-techan-d3tc-arrow class="sample" [svgheight]="200" />
<hr />
<app-d3-techan-d3tc-finance-time class="sample" [svgheight]="500" />