<div fxLayout="column" fxFill>
  <mat-toolbar class="toolbar">
    <button mat-icon-button [routerLink]='[""]' aria-label="Show all notes">
      <mat-icon fontSet="material-symbols-outlined">note_stack</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button (click)="toggleTheme()" aria-label="Toggle dark and light theme">
      <mat-icon fontSet="material-symbols-outlined">{{ isDarkTheme() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    <button mat-icon-button (click)="sidenav.toggle()" aria-label="Show or hide settings">
      <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav position="end" mode="over" fixedInViewport="false" opened="false">
      <h2 class="sidenav-header">Time series</h2>
      <app-series-list></app-series-list>

      <h2 class="sidenav-header" style="margin-bottom: 0px;">Math rendering</h2>
      <app-katex-settings class="katex-settings"></app-katex-settings>

      <!-- Current palette styles -->
      <h2 class="sidenav-header">Current theme color tokens</h2>
      Surface
      <div style="background-color: var(--mat-sys-surface); color: var(--mat-sys-on-surface);">
        --mat-sys-surface</div>
      <div style="background-color: var(--mat-sys-surface-dim); color: var(--mat-sys-on-surface);">
        --mat-sys-surface-dim</div>
      <div style="background-color: var(--mat-sys-surface-bright); color: var(--mat-sys-on-surface);">
        --mat-sys-surface-bright</div>
      <div style="background-color: var(--mat-sys-surface-container-lowest); color: var(--mat-sys-on-surface);">
        --mat-sys-surface-container-lowest</div>
      <div style="background-color: var(--mat-sys-surface-container-low); color: var(--mat-sys-on-surface);">
        --mat-sys-surface-container-low</div>
      <div style="background-color: var(--mat-sys-surface-container); color: var(--mat-sys-on-surface);">
        --mat-sys-surface-container</div>
      <div style="background-color: var(--mat-sys-surface-container-high); color: var(--mat-sys-on-surface);">
        --mat-sys-surface-container-high</div>
      <div style="background-color: var(--mat-sys-surface-container-highest); color: var(--mat-sys-on-surface);">
        --mat-sys-surface-container-highest</div>
      Primary
      <div style="background-color: var(--mat-sys-primary); color: var(--mat-sys-on-primary);">
        --mat-sys-primary</div>
      <div style="background-color: var(--mat-sys-primary-container); color: var(--mat-sys-on-primary-container);">
        --mat-sys-primary-container</div>
      <div style="background-color: var(--mat-sys-primary-fixed); color: var(--mat-sys-on-primary-fixed);">
        --mat-sys-primary-fixed</div>
      <div style="background-color: var(--mat-sys-primary-fixed-dim); color: var(--mat-sys-on-primary-fixed);">
        --mat-sys-primary-fixed-dim</div>
      Secondary
      <div style="background-color: var(--mat-sys-secondary); color: var(--mat-sys-on-secondary);">
        --mat-sys-secondary</div>
      <div style="background-color: var(--mat-sys-secondary-container); color: var(--mat-sys-on-secondary-container);">
        --mat-sys-secondary-container</div>
      <div style="background-color: var(--mat-sys-secondary-fixed); color: var(--mat-sys-on-secondary-fixed);">
        --mat-sys-secondary-fixed</div>
      <div style="background-color: var(--mat-sys-secondary-fixed-dim); color: var(--mat-sys-on-secondary-fixed);">
        --mat-sys-secondary-fixed-dim</div>
      Tertiary
      <div style="background-color: var(--mat-sys-tertiary); color: var(--mat-sys-on-tertiary);">
        --mat-sys-tertiary</div>
      <div style="background-color: var(--mat-sys-tertiary-container); color: var(--mat-sys-on-tertiary-container);">
        --mat-sys-tertiary-container</div>
      <div style="background-color: var(--mat-sys-tertiary-fixed); color: var(--mat-sys-on-tertiary-fixed);">
        --mat-sys-tertiary-fixed</div>
      <div style="background-color: var(--mat-sys-tertiary-fixed-dim); color: var(--mat-sys-on-tertiary-fixed);">
        --mat-sys-tertiary-fixed-dim</div>
      Error
      <div style="background-color: var(--mat-sys-error); color: var(--mat-sys-on-error);">
        --mat-sys-error</div>
      <div style="background-color: var(--mat-sys-error-container); color: var(--mat-sys-on-error-container);">
        --mat-sys-error-container</div>

      <!-- Dynamic palette generation -->
      <h2 class="sidenav-header">Dynamic palette generation</h2>
      Select primary color: {{dcsSvc.primaryColor()}}
      <div class="theme-controls">
        <div class="color-picker-wrapper">
          <div class="color-picker-overflow">
            <input matInput id="color-input" type="color" [(ngModel)]="dtsSvc.primaryThemeColor" (ngModelChange)="onPrimaryColorChange($event)" />
          </div>
        </div>
      </div>
      Select tertiary color: {{dcsSvc.tertiaryColor()}}
      <div class="theme-controls">
        <div class="color-picker-wrapper">
          <div class="color-picker-overflow">
            <input matInput id="color-input" type="color" [(ngModel)]="dtsSvc.tertiaryThemeColor" (ngModelChange)="onTertiaryColorChange($event)" />
          </div>
        </div>
      </div>
      <br />
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="outlet">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>