<div class="app-container">
  <mat-toolbar class="toolbar">
    <button mat-icon-button [routerLink]='[""]' aria-label="Show all notes">
      <mat-icon fontSet="material-symbols-outlined">note_stack</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <mb-light-dark-toggle />
    <button mat-icon-button (click)="sidenav.toggle()" aria-label="Show or hide settings">
      <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav position="end" mode="over" fixedInViewport="false" opened="false">
      <details class="collapsible" open>
        <summary class="collapsible-summary">
          <div class="section-header">Time series</div>
        </summary>
        <div class="collapsible-content">
          <mat-divider />
          <app-series-list />
        </div>
      </details>

      <details class="collapsible">
        <summary class="collapsible-summary">
          <div class="section-header">Content</div>
        </summary>
        <div class="collapsible-content">
          <mat-divider />
          <app-content-settings />
        </div>
      </details>

      <details class="collapsible">
        <summary class="collapsible-summary">
          <div class="section-header">Layout</div>
        </summary>
        <div class="collapsible-content">
          <mat-divider />
          <app-layout-settings />
        </div>
      </details>

      <details class="collapsible">
        <summary class="collapsible-summary">
          <div class="section-header">Color theme</div>
        </summary>
        <div class="collapsible-content">
          <mat-divider />
          <app-theme-settings />
        </div>
      </details>

      <details class="collapsible">
        <summary class="collapsible-summary">
          <div class="section-header">Current color tokens</div>
        </summary>
        <div class="collapsible-content">
          <mat-divider />
          <mb-dynamic-color-tokens />
        </div>
      </details>
      <br />
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="outlet">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>