<div fxLayout="column" fxFill>
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button [routerLink]='[""]'>
      <mat-icon fontSet="material-symbols-outlined">note_stack</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon fontSet="material-symbols-outlined">{{ isDarkTheme() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav position="end" mode="push" fixedInViewport="false" opened="false">
      <h2 class="sidenav-header">Time series</h2>
      <app-series-list></app-series-list>
      <br/>
      <h2 class="sidenav-header">Math rendering</h2>
      <app-katex-settings class="katex-settings"></app-katex-settings>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="outlet">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>