.sample {
  margin: 16px;
  margin-bottom: 0px;
}

.example-card {
  // max-width: 500px;
  margin-bottom: 16px;
}

mat-form-field {
  margin-right: 16px;
}

.w80 {
  width: 80px;
}

.w90 {
  width: 90px;
}

.w110 {
  width: 110px;
}

.w130 {
  width: 130px;
}

.w140 {
  width: 140px;
}

.w160 {
  width: 160px;
}

.w210 {
  width: 210px;
}

mat-slide-toggle {
  margin-right: 16px;
  vertical-align: middle;
}

/*
mb-voronoi {
  outline: thin solid red !important;
}
*/