<div class="sample">

  <mat-card appearance="raised" class="example-card">
    <mat-card-content>
      <mat-form-field class="w110">
        <mat-label>data</mat-label>
        <mat-select [(ngModel)]="datasetSelected" name="dataset">
          @for (dataset of datasetArray; track dataset) {
            <mat-option [value]="dataset.value">
              {{dataset.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w90">
        <mat-label>width</mat-label>
        <mat-select [(ngModel)]="widthSelected" name="width">
          @for (width of widthArray; track width) {
            <mat-option [value]="width.value">
              {{width.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w130">
        <mat-label>height</mat-label>
        <mat-select [(ngModel)]="heightSelected" name="height">
          @for (height of heightArray; track height) {
            <mat-option [value]="height.value">
              {{height.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w90">
        <mat-label>levels</mat-label>
        <mat-select [(ngModel)]="levelsSelected" name="levels">
          @for (levels of levelsArray; track levels) {
            <mat-option [value]="levels">
              {{levels}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w250">
        <mat-label>sumFunc</mat-label>
        <mat-select [(ngModel)]="sumFuncSelected" name="sumFunc">
          @for (sumFunc of sumFuncArray; track sumFunc) {
            <mat-option [value]="sumFunc.value">
              {{sumFunc.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w80">
        <mat-label>sort</mat-label>
        <mat-select [(ngModel)]="sortSelected" name="sort">
          @for (sort of sortArray; track sort) {
            <mat-option [value]="sort">
              {{sort}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w130">
        <mat-label>fillFunc</mat-label>
        <mat-select [(ngModel)]="fillFuncSelected" name="fillFunc">
          @for (fillFunc of fillFuncArray; track fillFunc) {
            <mat-option [value]="fillFunc.value">
              {{fillFunc.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w140">
        <mat-label>fillOpacityFunc</mat-label>
        <mat-select [(ngModel)]="fillOpacityFuncSelected" name="fillOpacityFunc">
          @for (fillOpacityFunc of fillOpacityFuncArray; track fillOpacityFunc) {
            <mat-option [value]="fillOpacityFunc.value">
              {{fillOpacityFunc.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w110">
        <mat-label>labelFunc</mat-label>
        <mat-select [(ngModel)]="labelFuncSelected" name="labelFunc">
          @for (labelFunc of labelFuncArray; track labelFunc) {
            <mat-option [value]="labelFunc.value">
              {{labelFunc.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w130">
        <mat-label>labelFill</mat-label>
        <mat-select [(ngModel)]="labelFillSelected" name="labelFill">
          @for (labelFill of labelFillArray; track labelFill) {
            <mat-option [value]="labelFill">
              {{labelFill}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w160">
        <mat-label>labelFontSizeFunc</mat-label>
        <mat-select [(ngModel)]="labelFontSizeFuncSelected" name="labelFontSizeFunc">
          @for (labelFontSizeFunc of labelFontSizeFuncArray; track labelFontSizeFunc) {
            <mat-option [value]="labelFontSizeFunc.value">
              {{labelFontSizeFunc.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle [(ngModel)]="rootVisible" color="primary">root</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="zoom" color="primary">zoom</mat-slide-toggle>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-content>
      <mb-icicle [data]="datasetSelected" [width]="widthSelected" [height]="heightSelected" [levels]="levelsSelected"
        [sumFunc]="sumFuncSelected" [sort]="sortSelected" [fillFunc]="fillFuncSelected" [fillOpacityFunc]="fillOpacityFuncSelected"
        [zoom]="zoom" [tapFunc]="tapFunc" [labelFunc]="labelFuncSelected" [rootVisible]="rootVisible"
      [labelFill]="labelFillSelected" [labelFontSizeFunc]="labelFontSizeFuncSelected"></mb-icicle>
    </mat-card-content>
    <mat-card-actions>
      {{selectedNodeInfo}}
    </mat-card-actions>
  </mat-card>

</div>