<mat-toolbar class="mb-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button id="menu" (click)="secondRowOpen = !secondRowOpen" class="show-small">
      <mat-icon fontSet="material-symbols-outlined">{{ secondRowOpen ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
    <mat-icon svgIcon="mbrane-top" class="logo" />
    @for (key of itemKeys; track key) {
      <a mat-button class="hide-small" [routerLink]="key">{{items[key]}}</a>
    }
    <span class="fill-remaining-space"></span>
    <mb-light-dark-toggle />
    <app-theme-settings />
    <a mat-icon-button href="https://github.com/ishiyan" target="_blank" rel="noopener noreferrer">
      <mat-icon svgIcon="github" />
    </a>
    <a mat-icon-button href="https://ishiyan.github.io" target="_blank" rel="noopener noreferrer">
      <mat-icon fontSet="material-symbols-outlined">person</mat-icon>
    </a>
  </mat-toolbar-row>
  @if (secondRowOpen) {
    <mat-toolbar-row class="show-small second-row">
      @for (key of itemKeys; track key) {
        <a mat-button [routerLink]="key">{{items[key]}}</a>
      }
    </mat-toolbar-row>
  }
</mat-toolbar>