<div class=note>
<h1>{{jmaNote.title}}</h1>
<app-bar-series-select label="" (selectionChange)="dataSelectionChanged($event)" />

<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configuration" />

  @if (!initialized || this.csvc.enableChartEditing()) {
  <mat-expansion-panel expanded="false" style="margin-bottom: 1em;">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon fontSet="material-symbols-outlined">tune</mat-icon></mat-panel-title>
    </mat-expansion-panel-header>
    <mb-swatches-select style="vertical-align: bottom;" [selected]="selectedIndex" [colors]="palettes"
      (selectionChange)="indicatorPaletteChanged($event);" [label]="'Palette'">
    </mb-swatches-select>
    <app-jma-list [initial]="initialIndicators" [colors]="selectedPalette"
      (changed)="indicatorsChanged($event);">
    </app-jma-list>
  </mat-expansion-panel>
  }

  <figcaption>{{dataSelection.description}}. @if (dataSelection.url) {
    <span><a href="{{dataSelection.url}}" target="_blank">{{dataSelection.urlName}}</a></span>
    }
    The JMA lines are plotted in the price pane.
  </figcaption>
</figure>
<p></p>

<h2>How it works</h2>
<div style="width:100%">
  <p></p>
  The Jurik Moving Average (JMA) is one of the proprietary indicators developed by Mark Jurik
  around 1998. His company
  <a href="http://jurikres.com/" target="_blank" rel="noopener noreferrer">Jurik Research</a>
  was founded in 1988, applying signal processing techniques originally intended for military
  projects to trading. Now, the company is "winded down" and does not sell its products anymore.
  <p></p>
  <figure class="figright">
    <img src="assets/photos/jurik.png">
    <figcaption>
      Mark Jurik.
      <a href="http://jurikres.com/about/company.htm" target="_blank"
        rel="noopener noreferrer">jurikres.com</a>
    </figcaption>
  </figure>
  The suite of technical indicators selled by Jurik Research was closed source and distributed
  in binary form. The only sources of information are several documents available on the
  Jurik Research website.
  <p></p>
  JMA represents a step forward from classic moving averages
    (<a href="/{{smaNote.route}}">SMA</a>,
    <a href="/{{emaNote.route}}">EMA</a>,
    <a href="/{{wmaNote.route}}">WMA</a>) and other
  advanced or adaptive ones
    (<a href="/{{demaNote.route}}">DEMA</a>,
    <a href="/{{temaNote.route}}">TEMA</a>,
    <a href="/{{t2emaNote.route}}">T2</a>,
    <a href="/{{t3emaNote.route}}">T3</a>,
    <a href="/{{kamaNote.route}}">KAMA</a>) available around the late 1990s
  (jurik1999evolution).
  <p></p>
  It is designed (jurik1999why) as a low-lag, nonlinear adaptive filter to remove noise from
  price series data while accurately tracking the underlying price movement and momentum.
  The design aims for an optimal balance of four features: (1) minimum lag, (2) minimum overshoot,
  (3) minimum undershoot, i.e. quick convergence after gaps, and (4) maximum smoothness.
  <p></p>
  Unlike non-adaptive filters, JMA can distinguish between random background noise and
  significant price gaps. It filters out the noise but adapts quickly to gaps, converging
  to new price levels faster than many other moving averages. 
  <p></p>
  JMA moves beyond traditional linear, frequency-based filtering, using techniques,
  described as adaptive non-linear filtering and information theory, "analogous to
  military technology for tracking moving targets through noise" (jurik1999how).
  It views the price series as a noisy image of the "true" underlying smooth price and
  attempts to estimate that smooth price's location.
  <p></p>
  JMA has two parameters (jurik1999how) allowing to fine-tune JMA's responsiveness
  for different strategies, such as optimizing crossover timing.
  <ul>
    <li><mb-ki>{{"\\ell"}}</mb-ki> - length of the JMA, which is a number of samples
      used to calculate the JMA value. Typical values range from <mb-ki>{{"2"}}</mb-ki>
      up to <mb-ki>{{"80"}}</mb-ki>. This parameter primarily controls the smoothness
      and speed of the JMA line. Increasing the <mb-ki>{{"\\ell"}}</mb-ki> makes JMA
      move slower, which increases smoothness and reduces noise, but at the cost of
      adding more lag.
    </li>
    <li><mb-ki>{{"\\phi"}}</mb-ki> - phase of the JMA. Ranges from <mb-ki>{{"-100"}}</mb-ki>
      to <mb-ki>{{"+100"}}</mb-ki>. This parameter controls the
      JMA's "inertia," essentially managing the trade-off between lag and overshoot.
      The highest value <mb-ki>{{"\\phi=100"}}</mb-ki> (low interia) minimises
      the lag (allowing the filter to turn more quickly), but maximizes the tendency
      to overshoot price reversals.
      The lowest value <mb-ki>{{"\\phi=-100"}}</mb-ki> (high interia) maximises
      the lag (making the filter slower to change direction and reducing noise),
      but minimises potential overshoot.
      The default value <mb-ki>{{"\\phi=0"}}</mb-ki> provides a balance between
      lag and overshoot. 
    </li>
  </ul>
  Irrespective from the parameters values, the JMA indicator is not primed
  during the first <mb-ki>{{"30"}}</mb-ki> samples.
  <p></p>
  From the digital signal processing (DSP) point of view, the JMA is an infinite impulse response (IIR)
  filter since all previous input samples contribute to its value.
  <p></p>
  In early 2000s, on the various trading forums there were numerious posts
  about reverse engineering and re-implementing the JMA algorithm (
  <a href="https://www.mql5.com/en/forum/173010" target="_blank" rel="noopener noreferrer">mql5</a>,
  <a href="https://regtrading.com/the-real-jurik-moving-average-jma/" target="_blank" rel="noopener noreferrer">regtrading</a>,
  <a href="https://usethinkscript.com/threads/jurik-moving-average.9817/" target="_blank" rel="noopener noreferrer">useThinkScript</a>,
  <a href="https://www.tradingview.com/script/W1DjDb8h-Jurik-Moving-Average-JMA/" target="_blank" rel="noopener noreferrer">tradingView</a>,
  <a href="https://www.forexfactory.com/thread/696822-jurik-indicators" target="_blank" rel="noopener noreferrer">forexFactory</a>).
  The decompiled Delphi (Pascal) code of the original Jurik's DLL for Wealth-Lab
  became a root source of the JMA imitations in MQL4, EasyLang, and others.
  <p></p>
  This implementation is also based on the decompiled code
  (<a href="https://forum.tslab.ru/ubb/ubbthreads.php?ubb=showflat&Number=5796#Post5796" target="_blank" rel="noopener noreferrer">tslab.com, 2010</a>).
  You can see the full source in
  <a href="https://github.com/ishiyan/Mbg/blob/main/trading/indicators/jurik/movingaverage.go" target="_blank"
    rel="noopener noreferrer">Golang</a>
  and in
  <a href="https://github.com/ishiyan/Mbng/blob/main/projects/mb/src/lib/trading/indicators/mark-jurik/jurik-moving-average/jurik-moving-average.ts"
    target="_blank" rel="noopener noreferrer">Typescript</a>
  on Github.
  <p></p>
</div>

<h2>Changing parameters</h2>
<div style="width:100%">
  The influence of the parameters on the smoothiness and the responsiveness of the JMA
  is demonstrated on the two following figures.
  <p></p>
  The first figure shows different lengths <mb-ki>{{"\\ell"}}</mb-ki> leaving
  the phase to be <mb-ki>{{"0"}}</mb-ki>.
  <p></p>
  The second figure shows different phases <mb-ki>{{"\\phi"}}</mb-ki> leaving
  the length to be <mb-ki>{{"10"}}</mb-ki>.
  <p></p>
</div>

<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationParamsLe" />
  <figcaption>Varying the length.
  </figcaption>
</figure>
<p></p>
<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationParamsPh" />
  <figcaption>Varying the phase.
  </figcaption>
</figure>
<p></p>

<h2>Step response</h2>
<div style="width:100%">
  The first two figures below show the step responces of the JMA with the different
  length parameter <mb-ki>{{"\\ell"}}</mb-ki>. Increasing the length increases the lag
  and the overshoot, but gives the indicator line more "inertiia".
  <p></p>
  The two next figures show the step responces of the JMA with the different phase
  parameter <mb-ki>{{"\\phi"}}</mb-ki>. Increasing the phase increases the overshoot.
  <p></p>
  <p></p>
  <figure class="figwide">
    <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationStepUpLe"></mb-ohlcv-chart>
    <figcaption>Step-up response dependency on <mb-ki>{{"\\ell"}}</mb-ki>.</figcaption>
  </figure>
  <figure class="figwide">
    <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationStepDnLe"></mb-ohlcv-chart>
    <figcaption>Step-down response dependency on <mb-ki>{{"\\ell"}}</mb-ki>.</figcaption>
  </figure>
  <p></p>
  <figure class="figwide">
    <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationStepUpPh"></mb-ohlcv-chart>
    <figcaption>Step-up response dependency on <mb-ki>{{"\\phi"}}</mb-ki>.</figcaption>
  </figure>
  <figure class="figwide">
    <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationStepDnPh"></mb-ohlcv-chart>
    <figcaption>Step-down response dependency on <mb-ki>{{"\\phi"}}</mb-ki>.</figcaption>
  </figure>
  <p></p>
</div>

<h2>Frequency response</h2>
<div style="width:100%">
  The figures below show an amplitude and a phase lag of the unit sample response of the JMA as a function
  of a period of various signal frequencies.
  We cannot derive its frequency response analytically because of the adaptive nature of the JMA.
  <p></p>
  A period is a duration of a cycle in samples.
  The smallest possible period of a cycle is <mb-ki>{{"2"}}</mb-ki> samples.
  To understand this, imagine a cycle of a sinusoid which starts at zero, goes up and peaks at <mb-ki>{{"1"}}</mb-ki>,
  continues down and bottoms at <mb-ki>{{"-1"}}</mb-ki>, and then returns back to zero.
  We need at least two samples (peak and through) to represent a cycle.
  See more details in the <a href="/{{froaiNote.route}}">{{froaiNote.title}}</a>.
  <p></p>
</div>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="freqsH" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="maxPeriod" [data]="freqs"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="freqsH" [ymode]="'phaseDegUnwrapped'"
    [xmode]="'period'" [maxPeriod]="maxPeriod" [minDeg]="-150" [maxDeg]="150" [data]="freqs"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />

  @if (this.csvc.enableChartEditing()) {
  <mat-expansion-panel expanded="false" style="margin-bottom: 1em;">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon fontSet="material-symbols-outlined">tune</mat-icon></mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
      <mat-label>Max period to display</mat-label>
      <input matInput type="number" min="8" max="1024" step="1" [(ngModel)]="maxPeriod">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput type="number" min="100" max="1024" step="1" [(ngModel)]="freqsH">
    </mat-form-field>
    <app-jma-list [initial]="initialFreqs" (changed)="freqsChanged($event);"></app-jma-list>
  </mat-expansion-panel>
  }

  <figcaption>An amplitude (a) and a phase lag (b) as a function of a period of a cycle.</figcaption>
</figure>
<p></p>

<div style="width:100%">
  The same charts can be represented as a function of a cycle's frequency.
  A period (<mb-ki>{{"\\tau"}}</mb-ki>) is an inverse of the cycle's frequency
  (<mb-ki>{{"\\nu"}}</mb-ki>): <mb-ki>{{"\\tau = \\frac{1}{\\nu}"}}</mb-ki>.
  The smallest period <mb-ki>{{"\\tau = 2"}}</mb-ki> corresponds to the Nyquist frequency
  <mb-ki>{{"\\nu = \\frac{1}{\\tau} = \\frac{1}{2}"}}</mb-ki>which is the highest frequency
  possible in a signal. Below we use the normalized frequency which has the value of <mb-ki>{{"1"}}</mb-ki>
  at the Nyquist frequency.
  That is, <mb-ki>{{"0"}}</mb-ki> corresponds to the infinite <mb-ki>{{"\\tau"}}</mb-ki>,
  <mb-ki>{{"1"}}</mb-ki> corresponds to the <mb-ki>{{"\\tau = 2"}}</mb-ki>.
  <p></p>
  The following charts show the frequency responses of the JMA with different lengths
  <mb-ki>{{"\\ell"}}</mb-ki>.
  The phase parameter is set to default value.
  <p></p>
</div>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="40" [data]="[jmaLe2, jmaLe5, jmaLe10, jmaLe20]"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [data]="[jmaLe2, jmaLe5, jmaLe10, jmaLe20]"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <figcaption>An amplitude as a function of a period of a cycle (a) and as a function of a normalized frequency of a
    cycle (b) for various JMA lengths <mb-ki>{{"\\ell"}}</mb-ki>.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'" [xmode]="'period'"
    [maxPeriod]="40" [minDeg]="-140" [maxDeg]="20" [data]="[jmaLe2, jmaLe5, jmaLe10, jmaLe20]"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'frequency'" [minDeg]="-140" [maxDeg]="20" [data]="[jmaLe2, jmaLe5, jmaLe10, jmaLe20]"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <figcaption>A phase as a function of a period of a wave (a) and as a function of a normalized frequency of a wave for
    various JMA lengths <mb-ki>{{"\\ell"}}</mb-ki>.</figcaption>
</figure>
<p></p>

<div style="width:100%">
  The following charts show the frequency responses of the JMA with different phases
  <mb-ki>{{"\\phi"}}</mb-ki>.
  The length parameter are set to default value.
  <p></p>
</div>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="40" [data]="[jmaPhMin100, jmaPh0, jmaPh100]"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [data]="[jmaPhMin100, jmaPh0, jmaPh100]"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <figcaption>An amplitude as a function of a period of a cycle (a) and as a function of a normalized frequency of a
    cycle (b) for various JMA phases <mb-ki>{{"\\phi"}}</mb-ki>.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'" [xmode]="'period'"
    [maxPeriod]="40" [minDeg]="-140" [maxDeg]="20" [data]="[jmaPhMin100, jmaPh0, jmaPh100]"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'frequency'" [minDeg]="-140" [maxDeg]="20" [data]="[jmaPhMin100, jmaPh0, jmaPh100]"
    [settingsPanelVisible]="this.csvc.enableChartEditing()" />
  <figcaption>A phase as a function of a period of a wave (a) and as a function of a normalized frequency of a wave for
    various JMA phases <mb-ki>{{"\\phi"}}</mb-ki>.</figcaption>
</figure>
<p></p>
<div style="width:100%">
</div>
<hr />
<h2 class="counter-skip">References</h2>
<div class="citation">Mark Jurik (1999).
  <em>Overview</em>. Retrieved April 12, 2025, from
  <a href="http://jurikres.com/down__/overview.pdf" target="_blank" rel="noopener noreferrer">jurikres.com</a>
</div>
<div class="citation">Mark Jurik (1999).
  <em>Evolution of Moving Averages</em>. Retrieved April 12, 2025, from
  <a href="http://jurikres.com/down__/ma_evolv.pdf" target="_blank" rel="noopener noreferrer">jurikres.com</a>
</div>
<div class="citation">Mark Jurik (1999).
  <em>Why Use JMA ?</em>. Retrieved April 12, 2025, from
  <a href="http://jurikres.com/down__/why_jma.pdf" target="_blank" rel="noopener noreferrer">jurikres.com</a>
</div>
<div class="citation">Mark Jurik (1999).
  <em>How it works</em>. Retrieved April 12, 2025, from
  <a href="http://jurikres.com/faq1/faq_ama.htm#how_work" target="_blank" rel="noopener noreferrer">jurikres.com</a>
</div>
<div class="citation">MQL5 forum (2005).
  <em>Jurik</em>. Retrieved April 12, 2025, from
  <a href="https://www.mql5.com/en/forum/173010" target="_blank" rel="noopener noreferrer">mql5.com</a>
</div>
<div class="citation">MQL5 forum (2008).
  <em>Good news - JMA's algorithm revealed!</em>. Retrieved April 12, 2025, from
  <a href="https://www.mql5.com/en/forum/179011" target="_blank" rel="noopener noreferrer">mql5.com</a>
</div>
<div class="citation">MQL5 forum (2008).
  <em>Good news for all of you - JMA's algorihm revealed! (pdf)</em>. Retrieved April 12, 2025, from
  <a href="https://c.mql5.com/forextsd/forum/164/jurik_1.pdf" target="_blank" rel="noopener noreferrer">mql5.com</a>
</div>
<div class="citation">Regtrading (2018).
  <em>The Real Jurik Moving Average (JMA)</em>. Retrieved April 12, 2025, from
  <a href="https://regtrading.com/the-real-jurik-moving-average-jma/" target="_blank" rel="noopener noreferrer">regtrading.com</a>
</div>
<div class="citation">useThinkScript (2022).
  <em>Jurik Moving Average ?</em>. Retrieved April 12, 2025, from
  <a href="https://usethinkscript.com/threads/jurik-moving-average.9817/" target="_blank" rel="noopener noreferrer">usethinkscript.com</a>
</div>
<div class="citation">useThinkScript (2022).
  <em>Jurik Moving Average Crossover For ThinkOrSwim</em>. Retrieved April 12, 2025, from
  <a href="https://usethinkscript.com/threads/jurik-moving-average-crossover-for-thinkorswim.12527/" target="_blank" rel="noopener noreferrer">usethinkscript.com</a>
</div>
<div class="citation">TradingView (2025).
  <em>Jurik Moving Average (JMA)</em>. Retrieved April 12, 2025, from
  <a href="https://www.tradingview.com/script/W1DjDb8h-Jurik-Moving-Average-JMA/" target="_blank" rel="noopener noreferrer">tradingview.com</a>
</div>
<div class="citation">ForexFactory (2017).
  <em>Jurik indicators</em>. Retrieved April 12, 2025, from
  <a href="https://www.forexfactory.com/thread/696822-jurik-indicators" target="_blank" rel="noopener noreferrer">forexfactory.com</a>
</div>
<div class="citation">tsLab (2010).
  <em>JMA code</em>. Retrieved April 12, 2025, from
  <a href="https://forum.tslab.ru/ubb/ubbthreads.php?ubb=showflat&Number=5796#Post5796" target="_blank" rel="noopener noreferrer">tslab.com</a>
</div>
</div>
