@use '@angular/material' as mat;
@mixin katex-settings-theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  app-katex-settings {
    mat-slide-toggle:not(.mat-mdc-slide-toggle-disabled) .mat-icon {
      color: mat.m2-get-color-from-palette($accent, text);
    }
    mat-slide-toggle:not(.mat-mdc-slide-toggle-checked):not(.mat-mdc-slide-toggle-disabled) .mat-icon {
      color: mat.m2-get-color-from-palette($foreground, secondary-text);
    }
  }
}