<div class="sample">

  <mat-card appearance="raised" class="example-card">
    <mat-card-content>
      <p>
        <mat-slide-toggle [(ngModel)]="zoom" color="primary">zoom</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="flat" color="primary">flat</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="rootCircle" color="primary">rootCircle</mat-slide-toggle>
      </p>
      <mat-form-field class="w110">
        <mat-label>diameter</mat-label>
        <mat-select [(ngModel)]="diameterSelected" name="diameter">
          @for (diameter of diameterArray; track diameter) {
            <mat-option [value]="diameter.value">
              {{diameter.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w110">
        <mat-label>padding</mat-label>
        <mat-select [(ngModel)]="paddingSelected" name="padding">
          @for (padding of paddingArray; track padding) {
            <mat-option [value]="padding">
              {{padding}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w190">
        <mat-label>sumFunc</mat-label>
        <mat-select [(ngModel)]="sumFuncSelected" name="sumFunc">
          @for (sumFunc of sumFuncArray; track sumFunc) {
            <mat-option [value]="sumFunc.value">
              {{sumFunc.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w80">
        <mat-label>sort</mat-label>
        <mat-select [(ngModel)]="sortSelected" name="sort">
          @for (sort of sortArray; track sort) {
            <mat-option [value]="sort">
              {{sort}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w140">
        <mat-label>fillFunc</mat-label>
        <mat-select [(ngModel)]="fillFuncSelected" name="fillFunc">
          @for (fillFunc of fillFuncArray; track fillFunc) {
            <mat-option [value]="fillFunc.value">
              {{fillFunc.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w140">
        <mat-label>fillOpacityFunc</mat-label>
        <mat-select [(ngModel)]="fillOpacityFuncSelected" name="fillOpacityFunc">
          @for (fillOpacityFunc of fillOpacityFuncArray; track fillOpacityFunc) {
            <mat-option [value]="fillOpacityFunc.value">
              {{fillOpacityFunc.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w130">
        <mat-label>strokeFunc</mat-label>
        <mat-select [(ngModel)]="strokeFuncSelected" name="strokeFunc">
          @for (strokeFunc of strokeFuncArray; track strokeFunc) {
            <mat-option [value]="strokeFunc.value">
              {{strokeFunc.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w160">
        <mat-label>strokeWidthFunc</mat-label>
        <mat-select [(ngModel)]="strokeWidthFuncSelected" name="strokeWidthFunc">
          @for (strokeWidthFunc of strokeWidthFuncArray; track strokeWidthFunc) {
            <mat-option [value]="strokeWidthFunc.value">
              {{strokeWidthFunc.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w110">
        <mat-label>labelFunc</mat-label>
        <mat-select [(ngModel)]="labelFuncSelected" name="labelFunc">
          @for (labelFunc of labelFuncArray; track labelFunc) {
            <mat-option [value]="labelFunc.value">
              {{labelFunc.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w140">
        <mat-label>labelMinRadius</mat-label>
        <mat-select [(ngModel)]="labelMinRadiusSelected" name="labelMinRadius">
          @for (labelMinRadius of labelMinRadiusArray; track labelMinRadius) {
            <mat-option [value]="labelMinRadius">
              {{labelMinRadius}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w130">
        <mat-label>labelFill</mat-label>
        <mat-select [(ngModel)]="labelFillSelected" name="labelFill">
          @for (labelFill of labelFillArray; track labelFill) {
            <mat-option [value]="labelFill">
              {{labelFill}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w210">
        <mat-label>labelShadow</mat-label>
        <mat-select [(ngModel)]="labelShadowSelected" name="labelShadow">
          @for (labelShadow of labelShadowArray; track labelShadow) {
            <mat-option [value]="labelShadow">
              {{labelShadow}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w160">
        <mat-label>labelFontSizeFunc</mat-label>
        <mat-select [(ngModel)]="labelFontSizeFuncSelected" name="labelFontSizeFunc">
          @for (labelFontSizeFunc of labelFontSizeFuncArray; track labelFontSizeFunc) {
            <mat-option [value]="labelFontSizeFunc.value">
              {{labelFontSizeFunc.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="raised" class="example-card">
    <mat-card-content>
      <mb-circlepack [data]="jdkHierarchy" [diameter]="diameterSelected" [padding]="paddingSelected"
        [sumFunc]="sumFuncSelected" [sort]="sortSelected" [fillFunc]="fillFuncSelected" [fillOpacityFunc]="fillOpacityFuncSelected"
        [strokeFunc]="strokeFuncSelected" [strokeWidthFunc]="strokeWidthFuncSelected"
        [zoom]="zoom" [flat]="flat" [rootCircle]="rootCircle" [tapFunc]="tapFunc" [labelFunc]="labelFuncSelected"
        [labelMinRadius]="labelMinRadiusSelected" [labelFill]="labelFillSelected" [labelShadow]="labelShadowSelected"
      [labelFontSizeFunc]="labelFontSizeFuncSelected"></mb-circlepack>
    </mat-card-content>
    <mat-card-actions>
      {{selectedNodeInfo}}
    </mat-card-actions>
  </mat-card>

</div>