<h1>{{smaNote.title}}</h1>

<mat-slide-toggle class="slide-toggle" [color]="'primary'" [(ngModel)]="unLocked">
  <mat-icon class="icon">tune</mat-icon>
</mat-slide-toggle>
<app-bar-series-select label="" (selectionChange)="dataSelectionChanged($event)">
</app-bar-series-select>

<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configuration"></mb-ohlcv-chart>

  <mat-expansion-panel expanded="false" style="margin-bottom: 1em;" *ngIf="unlocked">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>tune</mat-icon></mat-panel-title>
    </mat-expansion-panel-header>
    <mb-swatches-select style="vertical-align: bottom;" [selected]="selectedIndex" [colors]="palettes"
      (selectionChange)="indicatorPaletteChanged($event);" [label]="'Palette'">
    </mb-swatches-select>
    <app-sma-list [initial]="initialIndicators" [colors]="selectedPalette"
      (changed)="indicatorsChanged($event);">
    </app-sma-list>
  </mat-expansion-panel>

  <figcaption>{{dataSelection.description}}. <span *ngIf="dataSelection.url"><a href="{{dataSelection.url}}" target="_blank"></a></span></figcaption>
</figure>

<div style="width:100%">
  A Simple Moving Average (SMA) of length <mb-ki>L \ge 2</mb-ki> is the arithmetic mean of the last
  <mb-ki>L</mb-ki> observations of a series <mb-ki>{{"x_{1},\\, x_{2},\\, x_{3},\\,\\ldots\\,,\\, x_{k}"}}</mb-ki>,
  where <mb-ki>{{"x_{k}"}}</mb-ki> is the most recent value and <mb-ki>k \ge L</mb-ki>:
  <mb-kd>{{"\\tag*{(1)}sma_{k}=\\frac{1}{L}\\sum_{m=1}^{L}x_{k-L+m}"}}</mb-kd>

  When a next sample <mb-ki>{{"x_{k+1}"}}</mb-ki> arrives, it will be added to the sum, and the
  <mb-ki>{{"x_{k-L}"}}</mb-ki> sample will be dropped from the sum. Thus, the window of <mb-ki>L</mb-ki>
  samples "moves", which explains the "moving average" in its name.
  <p></p>
  When <mb-ki>k \lt L</mb-ki>, the equation (1) transforms into a cumulative moving average:
  <mb-kd>{{"\\tag*{}sma_{k}=\\frac{1}{k}\\sum_{m=1}^{k}x_{m}"}}</mb-kd>

  Since the effective length <mb-ki>k \lt L</mb-ki>, we consider SMA values undefined in this case.
  A scientific way to say this is "an indicator is not primed".
  So, the SMA is not primed during the first <mb-ki>{{"L-1"}}</mb-ki> updates.
  <p></p>

  The equation (1) can be rewritten in the recurrent form
  (the <mb-ki>{{"x_{k}"}}</mb-ki> is taken out of the summation, the <mb-ki>{{"x_{k-L}"}}</mb-ki> is added and subtracted),
  which gives an efficient method of SMA calculation:
  <mb-kd>
    {{"\\tag*{}sma_{k}=\\frac{1}{L}\\left[x_{k}+\\sum_{m=k-L}^{k-1}x_{m}-x_{k-L}\\right]"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{(2)}=sma_{k-1}+\\frac{x_{k}-x_{k-L}}{L}"}}
  </mb-kd>
  <!--
  <mb-kd>
    {{"\\tag*{(2a)}\\begin{aligned}sma_{k}&&=\\frac{1}{L}\\left[x_{k}+\\sum_{m=k-L}^{k-1}x_{m}-x_{k-L}\\right]\\ &&=sma_{k-1}+\\frac{x_{k}-x_{k-L}}{L}\\end{aligned}"}}
  </mb-kd>
  -->
  <!--
  <mb-kd>
    {{"\\tag*{(2b)}sma_{k}=\\frac{1}{L}\\left[x_{k}+\\sum_{m=k-L}^{k-1}x_{m}-x_{k-L}\\right]=sma_{k-1}+\\frac{x_{k}-x_{k-L}}{L}"}}
  </mb-kd>
  -->
  <p></p>

  From the digital signal processing (DSP) point of view, SMA is a
  finite impulse response (FIR) filter with all <mb-ki>{{"L"}}</mb-ki> weight coefficients equal:
  <mb-kd>
    {{"\\tag*{(3)}sma_{k}=\\sum_{m=1}^{L}w_{m}x_{k-m+1},\\ k\\ge L,\\ \\forall m\\ w_{m}=\\frac{1}{L}"}}
  </mb-kd>
  The filter is finite because only a finite number of <mb-ki>{{"L"}}</mb-ki> last samples contribute to its value.
  <p></p>
</div>

<h2>Step response</h2>
Two figures below demonstrate the response of an SMA to the step-up and step-down data.
The step transition is clearly linear.
Both responses touch the step data with the lag equal to the length <mb-ki>{{"L"}}</mb-ki> of the filter.
The step-up response doesn't overshoot and the step-down response doesn't undershoot the data.

<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationStepUp"></mb-ohlcv-chart>
  <figcaption>Step-up response.</figcaption>
</figure>
<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configurationStepDn"></mb-ohlcv-chart>
  <figcaption>Step-down response.</figcaption>
</figure>

<h2>Frequency response</h2>
<div style="width:100%">
  The figures below show an amplitude and a phase lag of the unit sample response of the SMA as a function
  of a period of various signal frequencies.
  <p></p>
  A period is a duration of a cycle in samples.
  The smallest possible period of a cycle is <mb-ki>{{"2"}}</mb-ki> samples.
  To understand this, imagine a cycle of a sinusoid which starts at zero, goes up and peaks at <mb-ki>{{"1"}}</mb-ki>,
  continues down and bottoms at <mb-ki>{{"-1"}}</mb-ki>, and then returns back to zero.
  We need at least two samples (peak and through) to represent a cycle.
  See more details in the <a href="/{{froaiNote.route}}">{{froaiNote.title}}</a>.
  <p></p>
  The same charts can be represented as a function of a cycle's frequency.
  A period (<mb-ki>{{"\\tau"}}</mb-ki>) is an inverse of the cycle's frequency
  (<mb-ki>{{"\\nu"}}</mb-ki>): <mb-ki>{{"\\tau = \\frac{1}{\\nu}"}}</mb-ki>.
  The smallest period <mb-ki>{{"\\tau = 2"}}</mb-ki> corresponds to the Nyquist frequency
  <mb-ki>{{"\\nu = \\frac{1}{\\tau} = \\frac{1}{2}"}}</mb-ki>which is the highest frequency
  possible in a signal. Below we use the normalized frequency which has the value of <mb-ki>{{"1"}}</mb-ki>
  at the Nyquist frequency.
  That is, <mb-ki>{{"0"}}</mb-ki> corresponds to the infinite <mb-ki>{{"\\tau"}}</mb-ki>,
  <mb-ki>{{"1"}}</mb-ki> corresponds to the <mb-ki>{{"\\tau = 2"}}</mb-ki>.
  <p></p>
</div>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="freqsH" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [maxPeriod]="maxPeriod" [data]="freqs"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="freqsH" [ymode]="'phaseDegUnwrapped'" [xmode]="'frequency'"
    [maxPeriod]="maxPeriod" [data]="freqs"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>

  <mat-expansion-panel expanded="false" style="margin-bottom: 1em;" *ngIf="unlocked">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>tune</mat-icon></mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label>Max period to display</mat-label>
      <input matInput type="number" min="8" max="1024" step="1" [(ngModel)]="maxPeriod">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput type="number" min="100" max="1024" step="1" [(ngModel)]="freqsH">
    </mat-form-field>

    <app-sma-list [initial]="initialFreqs" (changed)="freqsChanged($event);"></app-sma-list>
  </mat-expansion-panel>

  <figcaption>An amplitude (a) and a phase lag (b) as a function of a cycle.</figcaption>
</figure>

<div style="width:100%">
  The shape of the amplitude response is different for the even and odd values of <mb-ki>{{"L"}}</mb-ki>.
  For the even values of <mb-ki>{{"L"}}</mb-ki>, the amplitude decreases to zero
  for smallest period <mb-ki>{{"\\tau = 2"}}</mb-ki>. For the odd values of <mb-ki>{{"L"}}</mb-ki>,
  it stays above zero.
  <p></p>
  The shape of the unwrapped frequency response is linear with respect to a normalized frequency,
  and is hyperbolic with respect to a period.
  <p></p>
  This is illusrated in figures below both for the period (in samples) and the normalized frequency.
  <p></p>
</div>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="15" [data]="[sma2, sma4, sma6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="15" [data]="[sma3, sma5, sma7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>An amplitude as a function of a period of a cycle for even (a) and odd (b) SMA length.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [data]="[sma2, sma4, sma6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [data]="[sma3, sma5, sma7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>An amplitude as a function of a normalized frequency of a cycle for even (a) and odd (b) SMA length.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'phaseDegUnwrapped'"
    [xmode]="'period'" [maxPeriod]="15" [data]="[sma2, sma4, sma6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'phaseDegUnwrapped'"
    [xmode]="'period'" [maxPeriod]="15" [data]="[sma3, sma5, sma7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>A phase as a function of a period of a wave for even (a) and odd (b) SMA length.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'phaseDegUnwrapped'"
    [xmode]="'frequency'" [data]="[sma2, sma4, sma6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'phaseDegUnwrapped'"
    [xmode]="'frequency'" [data]="[sma3, sma5, sma7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>A phase as a function of a normalized frequency of a wave for even (a) and odd (b) SMA length.</figcaption>
</figure>

<p></p>
<div style="width:100%">
  The frequency response of an SMA can be derived analytically (Mak, 2021).
  <p></p>
  The frequency response function of a discrete-time linear time-invariant (DTLTI) system
  is the discrete-time Fourier transform (DTFT) of the unit impulse response <mb-ki>{{"h(k)"}}</mb-ki>
  (Oppenheim et al., 2009):
  <mb-kd>
    {{"\\tag*{(4)}H(\\omega)=\\sum_{k=-\\infty}^{\\infty}h(k)\\exp(-i k \\omega)"}}
  </mb-kd>
  where <mb-ki>{{"\\omega"}}</mb-ki> is an angular frequency (in radians per sample),
  <mb-ki>{{"\\nu"}}</mb-ki> is a frequency, and <mb-ki>{{"\\tau"}}</mb-ki> is a period of a cycle in samples:
  <mb-kd>
    {{"\\tag*{}\\omega = 2\\pi\\nu = \\frac{2\\pi}{\\tau}"}}
  </mb-kd>
  The unit impulse response is the output of the SMA when a Kronecker delta function
  <mb-kd>
    {{"\\tag*{}\\delta[k] = \\begin{cases} 1, & k=0 \\\\ 0, & k \\neq 0 \\end{cases}"}}
  </mb-kd>
  is applied to the input. Since SMA has equal weight coefficients, the unit impulse response
  can be obtained from equation (3):
  <mb-kd>
    {{"\\tag*{}h(k)=\\sum_{m=0}^{L-1}w_m\\delta[k-m]"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{}=\\frac{1}{l}\\sum_{m=0}^{L-1}\\delta[k-m]"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{(5)}=\\begin{cases} 1/L, & 0 \\leq k \\lt L \\\\ 0, & \\text{otherwise} \\end{cases}"}}
  </mb-kd>
  Substituting (5) into equation (4) and reducing to the finite sum gives
  <mb-kd>
    {{"\\tag*{}H(\\omega)=\\sum_{k=0}^{L-1}h(k)\\exp(-i k \\omega)"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{(6)}=\\frac{1}{L}\\sum_{k=0}^{L-1}\\exp(-i k \\omega)"}}
  </mb-kd>
  To simplify (6), we can recall a sum of geometric series
  <mb-kd>
    {{"\\tag*{}\\sum_{k=0}^{L-1}x^k = 1 + x + x^2 + \\ldots + x^{L-1}"}}
  </mb-kd>
  Multiplying both sides by <mb-ki>{{"1-x"}}</mb-ki> and simplifying
  <mb-kd>
    {{"\\tag*{}(1-x)\\sum_{k=0}^{L-1}x^k = (1-x)(1 + x + x^2 + \\ldots + x^{L-1})"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{}= 1 + x + x^2 + \\ldots + x^{L-1} - x - x^2 - \\ldots - x^{L-1} - x^L"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{}= 1 - x^L"}}
  </mb-kd>
  gives a well-known identity for a sum of geometric series (Jeffrey and Dai, 2008, 1.2.2.2):
  <mb-kd>
    {{"\\tag*{}\\sum_{k=0}^{L-1}x^k = \\begin{cases} (1-x^L)/(1-x), & x \\neq 1 \\\\ L, & x = 1 \\end{cases}"}}
  </mb-kd>
  Now we can write the frequency response function as
  <mb-kd>
    {{"\\tag*{(7)}H(\\omega)=\\frac{1}{L}\\frac{1 - \\exp(-i\\omega L)}{1 - \\exp(-i \\omega)}"}}
  </mb-kd>
  where we have let <mb-ki>{{"x = \\exp(-i \\omega)"}}</mb-ki>.
  At <mb-ki>{{"\\omega = 0"}}</mb-ki> equation (7) is indeterminate,
  but we can use the De l'Hôpital's rule (Jeffrey and Dai, 2008, 1.15.1)
  <mb-kd>
    {{"\\tag*{}\\lim_{x\\to x_0}{[\\frac{f(x)}{g(x)}]}=\\frac{f'(x_0)}{g'(x_0)}"}}
  </mb-kd>
  to show that
  <mb-kd>
    {{"\\tag*{}\\lim_{\\omega\\to 0}{H(\\omega)}=\\frac{1}{L}\\lim_{\\omega\\to 0}{\\frac{1 - \\exp(-i\\omega L)}{1 - \\exp(-i \\omega)}}"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{}\\overset{\\left[\\frac{0}{0}\\right]}{\\underset{\\mathrm{H}}{=}}\\ \\frac{1}{L}\\lim_{\\omega\\to 0}{\\frac{iL\\exp(-i\\omega L)}{i\\exp(-i \\omega)}}"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{}=\\frac{1}{L}\\frac{iL}{i} = 1"}}
  </mb-kd>
  The frequency response <mb-ki>{{"H(\\omega)"}}</mb-ki> is zero when
  <mb-kd>
    {{"\\tag*{}\\exp(-i\\omega L)=\\cos(\\omega L) - i\\cdot\\sin{\\omega L} = 1"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{}\\omega L=2\\pi m\\quad m=1,2,3,\\ldots"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{}\\omega=\\frac{2\\pi m}{L}"}}
  </mb-kd>
  Thus, <mb-ki>{{"H(\\omega)"}}</mb-ki> is zero at cycle periods
  <mb-kd>
    {{"\\tag*{(8)}\\tau=\\frac{2\\pi}{\\omega}=\\frac{2\\pi L}{2\\pi m} = L/m,\\quad m=1,2,3,\\ldots"}}
  </mb-kd>
  Now let's recall the well nown formula for <mb-ki>{{"\\exp(i\\theta)-\\exp(-i\\theta)"}}</mb-ki>:
  <mb-kd>
    {{"\\tag*{}\\exp(i\\theta)-\\exp(-i\\theta)"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{}=\\cos(\\theta)+i\\cdot\\sin(\\theta)-\\cos(-\\theta)- i\\cdot\\sin(-\\theta)"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{}=\\cos(\\theta)+i\\cdot\\sin(\\theta)-\\cos(\\theta)+i\\cdot\\sin(\\theta)"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{}=2i\\cdot\\sin(\\theta)"}}
  </mb-kd>
  Equipped with this, we can transform equation (7) into:
  <mb-kd>
    {{"\\tag*{}H(\\omega)=\\frac{1}{L}\\frac{1 - \\exp(-i\\omega L)}{1 - \\exp(-i \\omega)}"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{}=\\frac{1}{L}\\frac{\\exp(-i\\omega L/2)}{\\exp(-i\\omega/2)}\\frac{\\exp(i\\omega L/2) - \\exp(-i\\omega L/2)}{\\exp(i\\omega/2) - \\exp(-i\\omega/2)}"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{}=\\frac{1}{l}\\frac{\\exp(-i\\omega L/2)}{\\exp(-i\\omega/2)}\\frac{2i\\sin(\\omega L/2)}{2i\\sin(\\omega /2)}"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{(9)}=\\frac{\\exp(-i\\omega\\frac{L-1}{2})}{L}\\frac{\\sin(\\omega L/2)}{\\sin(\\omega /2)}"}}
  </mb-kd>
  The magnitude of the frequency response is the modulus of <mb-ki>{{"H(\\omega)"}}</mb-ki>:
  <mb-kd>
    {{"\\tag*{}|H(\\omega)|=\\left|\\frac{\\exp(-i\\omega\\frac{L-1}{2})}{L}\\frac{\\sin(\\omega L/2)}{\\sin(\\omega /2)}\\right|"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{(10)}=\\frac{1}{L}\\frac{|\\sin(\\omega L/2)|}{|\\sin(\\omega /2)|}"}}
  </mb-kd>
  Here <mb-ki>{{"\\omega"}}</mb-ki> is an angular frequency in radians per sample.
  In terms of cycle period (recall <mb-ki>{{"\\omega=2\\pi/\\tau"}}</mb-ki>) this will be:
  <mb-kd>
    {{"\\tag*{(11)}|H(\\tau)|=\\frac{1}{L}\\frac{|\\sin(\\pi L/\\tau)|}{|\\sin(\\pi /\\tau)|}"}}
  </mb-kd>
  The phase (in radians) of the frequency response is the complex argument of the exponent in equation (9):
  <mb-kd>
    {{"\\tag*{(12)}\\phi(\\omega)=\\arg(H(\\omega))=-\\frac{L-1}{2}\\omega"}}
  </mb-kd>
  <mb-kd>
    {{"\\tag*{(13)}\\phi(\\tau)=-\\pi\\frac{L-1}{\\tau}"}}
  </mb-kd>
  And, finally, the number of samples lagging behind the signal is independent of angular frequency <mb-ki>{{"\\omega"}}</mb-ki>:
  <mb-kd>
    {{"\\tag*{(14)}bar\\ lag=\\frac{\\phi(\\omega)}{\\omega}=-\\frac{L-1}{2}"}}
  </mb-kd>

</div>
<hr />
<h2 class="counter-skip">References</h2>
<div><!-- @Book Jeffrey2008 --> Jeffrey, A., &amp; Dai, H. H. (2008).
  <em>Handbook of mathematical formulas and integrals</em>. (4th ed., p. 592). San Diego, CA: Elsevier/Academic Press.
  <a href="https://books.google.com/books?id=JokQD5nK4LMC" target="_blank"></a>
</div>
<div><!-- @Book Mak2021 -->Mak, D. K. (2021).
  <em>Trading Tactics in the Financial Market: Mathematical Methods to Improve Performance</em> (p. ix+269).
  doi:10.1007/978-3-030-70622-7
  <a href="https://books.google.com/books?id=q9Q6EAAAQBAJ" target="_blank"></a>
</div>
<div><!-- @Book Oppenheim2009 -->Oppenheim, A. V., Schafer, R. W., Yoder, M. A., &amp; Padgett, W. T. (2009).
  <em>Discrete-time signal processing</em>. (3rd ed., p. 1120). Upper Saddle River, NJ: Pearson.
  <a href="https://books.google.com/books?id=EaMuAAAAQBAJ" target="_blank"></a>
</div>
