<h1>{{smaNote.title}}</h1>

<mat-slide-toggle class="slide-toggle" [color]="'primary'" [(ngModel)]="unLocked">
  <mat-icon class="icon">tune</mat-icon>
</mat-slide-toggle>
<app-bar-series-select label="" (selectionChange)="dataSelectionChanged($event)">
</app-bar-series-select>

<figure class="figwide">
  <mb-ohlcv-chart class="ohlcv-chart-study" [configuration]="configuration"></mb-ohlcv-chart>

  <mat-expansion-panel expanded="false" style="margin-bottom: 1em;" *ngIf="unlocked">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>tune</mat-icon></mat-panel-title>
    </mat-expansion-panel-header>
    <mb-swatches-select style="vertical-align: bottom;" [selected]="selectedIndex" [colors]="palettes"
      (selectionChange)="indicatorPaletteChanged($event);" [label]="'Palette'">
    </mb-swatches-select>
    <app-sma-list [initial]="initialIndicators" [colors]="selectedPalette"
      (changed)="indicatorsChanged($event);">
    </app-sma-list>
  </mat-expansion-panel>

  <figcaption>{{dataSelection.description}}.</figcaption>
</figure>

<div style="width:100%">
  A simple moving average of length <mb-ki>n</mb-ki> is just the mean of the last <mb-ki>n</mb-ki> observations
  of <mb-ki>{{"x_{1},\\, x_{2},\\, x_{3},\\,\\ldots\\,,\\, x_{k}"}}</mb-ki>, where <mb-ki>{{"x_{k}"}}</mb-ki>
  is the most recent value:
  <mb-kd>{{"\\tag*{}m_{k}=\\frac{1}{n}\\sum_{i=k-n+1}^{k}x_{i}"}}</mb-kd>

  In the beginning, when <mb-ki>k \lt n</mb-ki>, this is a cumulative moving average:
  <mb-kd>{{"\\tag*{}m_{k}=\\frac{1}{k}\\sum_{i=1}^{k}x_{i}"}}</mb-kd>

  Actually the last equation is the particular case of the first one for <mb-ki>k=n</mb-ki>.
  The recurrence for the first equation is
  <mb-kd>
    {{"\\tag*{}m_{k}=\\frac{1}{n}\\left[x_{k}+\\sum_{i=k-n}^{k-1}x_{i}-x_{k-n}\\right]=m_{k-1}+\\frac{x_{k}-x_{k-n}}{n}"}}
  </mb-kd>

  Similarly for the second equation
  <mb-kd>
    {{"\\tag*{}m_{k}=\\frac{1}{k-1}\\left[x_{k}+\\sum_{i=1}^{k-1}x_{i}\\right]\\frac{k-1}{k}=m_{k-1}+\\frac{x_{k}-m_{k-1}}{k}"}}
  </mb-kd>

  Note that both can be rewritten as
  <mb-kd>{{"\\tag{2.1}m_{k}=m_{k-1}+\\frac{\\delta_{k}-\\delta_{k-n}}{N_{k}}"}}</mb-kd>

  where
  <mb-kd>{{"\\tag{2.2}\\begin{cases}
    \\delta_{l}=x_{l}-m_{k-1} & l\\gt 0\\\\
    \\delta_{l}=0 & l\\leq0
    \\end{cases}"}}</mb-kd>

  and
  <mb-kd>{{"\\tag{2.3}\\begin{cases}
    N_{k}=n & k\\geq n\\\\
    N_{k}=k & k\\lt n
    \\end{cases}"}}</mb-kd>
</div>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="freqsH" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="maxPeriod" [data]="freqs"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="freqsH" [ymode]="'phaseDeg'" [xmode]="'period'"
    [maxPeriod]="maxPeriod" [minDeg]="-180" [maxDeg]="180" [data]="freqs"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>

  <mat-expansion-panel expanded="false" style="margin-bottom: 1em;" *ngIf="unlocked">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>tune</mat-icon></mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label>Max period to display</mat-label>
      <input matInput type="number" min="8" max="1024" step="1" [(ngModel)]="maxPeriod">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input matInput type="number" min="100" max="1024" step="1" [(ngModel)]="freqsH">
    </mat-form-field>

    <app-sma-list [initial]="initialFreqs" (changed)="freqsChanged($event);"></app-sma-list>
  </mat-expansion-panel>

  <figcaption>An amplitude (a) and a phase (b) as a function of a period of a wave.</figcaption>
</figure>
<br />

<figure class="figwide">
  <!--mat-grid-list cols="2" rowHeight="260px">
    <mat-grid-tile>
    </mat-grid-tile>
  </mat-grid-list-->
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="15" [data]="[sma2, sma4, sma6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(c)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'period'" [maxPeriod]="15" [data]="[sma3, sma5, sma7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>An amplitude as a function of a period of a wave for even (a) and odd (b) SMA length.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [data]="[sma2, sma4, sma6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(d)'" [width]="'100%'" [height]="200" [ymode]="'amplitudePct'"
    [xmode]="'frequency'" [data]="[sma3, sma5, sma7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>An amplitude as a function of a normalized frequency of a wave for even (a) and odd (b) SMA length.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(a)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'period'" [maxPeriod]="15" [minDeg]="-180" [maxDeg]="180" [data]="[sma2, sma4, sma6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(c)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'period'" [maxPeriod]="15" [minDeg]="-180" [maxDeg]="180" [data]="[sma3, sma5, sma7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>A phase as a function of a period of a wave for even (a) and odd (b) SMA length.</figcaption>
</figure>

<figure class="figwide">
  <mb-frequency-response-chart [subfig]="'(b)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'frequency'" [minDeg]="-180" [maxDeg]="180" [data]="[sma2, sma4, sma6]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <mb-frequency-response-chart [subfig]="'(d)'" [width]="'100%'" [height]="200" [ymode]="'phaseDeg'"
    [xmode]="'frequency'" [minDeg]="-180" [maxDeg]="180" [data]="[sma3, sma5, sma7]"
    [settingsPanelVisible]="unlocked"></mb-frequency-response-chart>
  <figcaption>A phase as a function of a normalized frequency of a wave for even (a) and odd (b) SMA length.</figcaption>
</figure>

<br />

<h1>From [Ehlers2001]</h1>
<div style="width:100%">
  An <mb-ki>n</mb-ki>-day SMA is formed by adding the samples over <mb-ki>n</mb-ki> days and dividing by <mb-ki>n
  </mb-ki>.
  Another way to view an SMA is as average of the data within an <mb-ki>n</mb-ki>-sample moving window.
  The average is usially plotted at the right-hand side of the window which causes a lag.
  <p></p>
  The average price is always the price at the center of the window expressed at <mb-ki>{{"\\frac{n-1}{2}"}}</mb-ki>
  <b>[WHY?]</b>.
  <p></p>
  If we increase SMA window to incude full-period of sinusoid, the SMA value will be always equal to zero because there
  are as many points above the mean as there are below it. <b>[this is continuous case. sampling?]</b>
  The same happens when SMA window includes an integer number of full-periods of sinusoid.

  <figure class="center">
    <mb-svg-viewer src="assets/indicators/sma/eh_01_01.svg"></mb-svg-viewer>
    <!--img src="assets/indicators/sma/eh_01_01.svg" width=40% height=40% /-->
    <figcaption>svg</figcaption>
  </figure>

  SMA coefficients form rectangle across the width of the filter, resulting a center of gravity being
  <mb-ki>{{"\\frac{1}{2}"}}</mb-ki> across the window.
</div>

<br />
<hr />
<h1>Another view from Risk Metrics</h1>
<div style="width:100%">
  A simple moving average of length <mb-ki>n</mb-ki> is just the mean of the last <mb-ki>n</mb-ki> observations
  of <mb-ki>{{"x_{1},\\, x_{2},\\, x_{3},\\,\\ldots\\,,\\, x_{k}"}}</mb-ki>, where <mb-ki>{{"x_{k}"}}</mb-ki>
  is the most recent value:
  <mb-kd>{{"\\tag*{}m_{k}=\\frac{1}{n}\\sum_{i=k-n+1}^{k}x_{i}"}}</mb-kd>

  In the beginning, when <mb-ki>k \lt n</mb-ki>, this is a cumulative moving average:
  <mb-kd>{{"\\tag*{}m_{k}=\\frac{1}{k}\\sum_{i=1}^{k}x_{i}"}}</mb-kd>

  Actually the last equation is the particular case of the first one for <mb-ki>k=n</mb-ki>.
  The recurrence for the first equation is
  <mb-kd>
    {{"\\tag*{}m_{k}=\\frac{1}{n}\\left[x_{k}+\\sum_{i=k-n}^{k-1}x_{i}-x_{k-n}\\right]=m_{k-1}+\\frac{x_{k}-x_{k-n}}{n}"}}
  </mb-kd>

  Similarly for the second equation
  <mb-kd>
    {{"\\tag*{}m_{k}=\\frac{1}{k-1}\\left[x_{k}+\\sum_{i=1}^{k-1}x_{i}\\right]\\frac{k-1}{k}=m_{k-1}+\\frac{x_{k}-m_{k-1}}{k}"}}
  </mb-kd>

  Note that both can be rewritten as
  <mb-kd>{{"\\tag{1.1}m_{k}=m_{k-1}+\\frac{\\delta_{k}-\\delta_{k-n}}{N_{k}}"}}</mb-kd>

  where
  <mb-kd>{{"\\tag{1.2}\\begin{cases}
    \\delta_{l}=x_{l}-m_{k-1} & l\\gt 0\\\\
    \\delta_{l}=0 & l\\leq0
    \\end{cases}"}}</mb-kd>

  and
  <mb-kd>{{"\\tag{1.3}\\begin{cases}
    N_{k}=n & k\\geq n\\\\
    N_{k}=k & k\\lt n
    \\end{cases}"}}</mb-kd>
</div>
<br />
<hr />
<h1 class="counter-skip">References</h1>
<div id='Ehlers2001'>Ehlers, John F. (2001). <em>Rocket Science for Traders: Digital Signal Processing
    Applications</em>. Wiley, 2001. ISBN:9780471405672 <a
    href="https://books.google.nl/books?id=K9F1rgEACAAJ">online</a> <a href="offline/ehlers2001.pdf">offline</a></div>
<div id='Ehlers2004'>Ehlers, John F. (2004). <em>Cybernetic Analysis for Stocks and Futures: Cutting-Edge DSP Technology
    to Improve Your Trading</em>. Wiley, 2004. ISBN:9780471463078 <a
    href="https://books.google.nl/books?id=Wj6sNAEACAAJ">online</a> <a href="offline/ehlers2004.pdf">offline</a></div>
<div id='Ehlers2013'>Ehlers, John F. (2013). <em>Cycle Analytics for Traders + Downloadable Software: Advanced Technical
    Trading Concepts</em>. John Wiley &amp; Sons, 2013. ISBN:9781118728604 <a
    href="https://books.google.nl/books?id=2z9VAgAAQBAJ">online</a> <a href="offline/ehlers2013.pdf">offline</a></div>
<div id='Ehlers1992'>Ehlers, John F. (1992). <em>MESA and Trading Market Cycles</em>. Wiley, 1992. ISBN:9780471549437 <a
    href="https://books.google.nl/books?id=0UUUAQAAMAAJ">online</a> <a href="offline/ehlers1992.pdf">offline</a></div>
<div id='Ehlers2010'>Ehlers, John F. and Way, Rick (2010, November). <em>Zero Lag (Well, Almost)</em>. Technical
  Analysis of Stocks &amp; Commodities, vol. 28 (11), pp. 30-35. ISSN:0738-3355 <a
    href="http://store.traders.com/stcov283zela.html">online</a> <a
    href="offline/tasc_v28_2010_11_pp30-35_John_Ehlers_Ric_Way-Zero_Lag_(Well_Almost).pdf">offline</a></div>

<app-scroller></app-scroller>