<details class="series-card">
  <summary class="series-summary">
    <div class="series-header">
      <div class="series-sparkline">
        <mb-sparkline [width]="200" [height]="32" [configuration]="configSparkline()" [data]="series().data" />
      </div>
      <div class="series-mnemonic">
        {{series().mnemonic}}
      </div>
    </div>
  </summary>
  
  <div class="series-content">
    <div class="description-row">
      @if (removable()) {
        <button mat-icon-button (click)="remove()" class="delete-button">
          <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
        </button>
      }
      <div class="description-text">
        {{series().description}}
        <mat-divider />
      </div>
    </div>
    
    <div class="stats-info">
      {{series().data.length}} <i>{{series().timeGranularity}}</i> points
      ({{series().timeStart|date}} to {{series().timeEnd|date}})
    </div>
    
    <mat-divider />
    
    <mb-multiline [width]="348" [height]="'50%width'" [configuration]="[configMultiline()]" [data]="[series().data]"
      [timeAxis]="['bottom']" [valueAxis]="['grid']" />
  </div>
</details>