<div class="sample">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Default</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input mbColorPicker [(colorPicker)]="color" [style.background]="color">
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Default 2</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input mbColorPicker [(colorPicker)]="color" [style.background]="color">
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Default 3</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input mbColorPicker [(colorPicker)]="color" [style.background]="color">
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Default 4</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input mbColorPicker [(colorPicker)]="color" [style.background]="color">
    </mat-card-content>
  </mat-card>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
